<!-- begin v-attractions -->
<div class="v-attractions v-section v-section_dark">
	<div class="v-inner v-attractions__inner">
		<h2 class="title-lg v-attractions__title">What our clients say</h2>
		<div class="v-attractions__description">
			<p>Nothing makes us happier than hearing how happy we make you!</p>
		</div>
		<div class="v-attractions__container">
			<div class="v-attractions__slider v-slider owl-carousel js-slider" data-slider-name="attractions">
				{% for item in range(0,3) %}
					{% for item in [
						{
							img: 'https://placekitten.com/g/200/200',
							title: 'Carrie Morales',
							content: 'Fantastic product. Such an efficient streamlined way to obtain a design. Such an efficient streamlined way to obtain a design. Great bunch of designers. Super happy thanks!'
						},
						{
							name: 'VH',
							title: 'Vera Hodges',
							content: 'Fantastic product. Such an efficient streamlined way to obtain a design. Such an efficient streamlined way to obtain a design. Great bunch of designers. Super happy thanks. Fantastic product. Such an efficient streamlined way to obtain a design. Such an efficient streamlined way to obtain a design. Great bunch of designers. Super happy thanks!'
						},
						{
							img: 'https://placekitten.com/g/200/200',
							title: 'Christopher Casey',
							content: 'Easy to use, got way more and way better design and very happy with the end result. I highly recommened that you use Paris Hotel Web for booking your hotel.'
						}
					] %}
						<div class="v-attractions__slide v-slider__item">
							<div class="v-attraction js-attraction">
								<div class="v-attraction__user" {% if item.img %}style="background-image: url({{item.img}});"{% endif %}>
									{% if item.name %}
										<div class="v-attraction__name">{{item.name}}</div>
									{% endif %}
								</div>
								<div class="v-attraction__content">
									<div class="v-attraction__content-in js-attraction-content">
										<h3 class="title-md v-attraction__title">{{item.title}}</h3>
										<div class="v-attraction__description">
											<p>{{item.content}}</p>
										</div>
									</div>
									<a class="v-link-more v-attraction__more js-attraction-control" hidden>
										<span data-text="more">Read more</span>
										<span data-text="less">Less</span>
										{{mixins.icon('down', 'v-link-more__icon')}}
									</a>
								</div>
							</div>
						</div>
					{% endfor %}
				{% endfor %}
			</div>
		</div>
	</div>
</div>
<!-- end v-attractions -->