<!-- begin v-benefits -->
<div class="v-benefits">
	<div class="v-inner v-benefits__inner">
		<h2 class="title-lg v-benefits__title">Paris Hotel Web in facts & numbers:</h2>
		<div class="v-benefits__items">
			{% for item in [
				{ icon: 'team', title: 'A multicultural team of 50&nbsp;travel experts' },
				{ icon: 'checked', title: 'Working on local market for 10 years ' },
				{ icon: 'hotel', title: '5000 great selected places for your stay in Paris' },
				{ icon: 'key-card', title: '300+ rooms booked every&nbsp;night' },
				{ icon: 'planet-earth', title: '20 languages and 22&nbsp;currencies supported ' },
				{ icon: 'wallet', title: 'Flexible booking with no&nbsp;additional fees' }
			] %}
				<div class="v-benefits__item">
					{{mixins.icon(item.icon, 'v-benefits__icon')}}
					<div class="v-benefits__subtitle">{{item.title | safe }}</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
<!-- end v-benefits -->