<!-- begin v-gallery -->
<div class="v-gallery">
	<div class="v-inner v-gallery__inner">
		<h2 class="title-lg v-gallery__title">Gallery</h2>
		<div class="v-gallery__items js-gallery">
			{% for item in [
				'https://placecage.com/400/400',
				'https://placekitten.com/g/400/400',
				'https://fillmurray.com/400/400',
				'https://placecage.com/400/400',
				'https://placekitten.com/g/400/400',
				'https://fillmurray.com/400/400',
				'https://placecage.com/400/400',
				'https://placekitten.com/g/400/400',
				'https://fillmurray.com/400/400'
			] %}
				<div class="v-gallery__item">
					<a href="#" class="v-gallery__box">
						<div class="v-gallery__img" style="background-image: url({{item}});">
							<div class="v-gallery__btn">
								{{mixins.icon('picture')}}
								<span>Photo Gallery</span>
							</div>
						</div>
					</a>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
<!-- end v-gallery -->