<!-- begin v-gallery -->
<div class="v-gallery" data-scrollto-section="v-gallery">
	<div class="v-inner v-gallery__inner">
		<h2 class="title-lg v-gallery__title">Gallery</h2>
		<div class="v-slider">
			<div class="v-slider__inner owl-carousel js-slider">
				{% for item in [
					'https://placecage.com/400/400',
					'https://placekitten.com/g/400/400',
					'https://fillmurray.com/400/400',
					'https://placecage.com/400/400',
					'https://placekitten.com/g/400/400',
					'https://fillmurray.com/400/400',
					'https://placecage.com/400/400',
					'https://placekitten.com/g/400/400',
					'https://fillmurray.com/400/400'
				] %}
					<div class="v-slider__item">
						{{imgBox.call(item)}}
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
<!-- end v-gallery -->