<!-- begin v-info -->
<div class="v-info v-section v-section_dark js-toggle">
	<div class="v-inner v-info__inner">
		<h2 class="title-lg v-info__title">Get to know us</h2>
		<div class="v-info__content js-toggle-content">
			<div class="v-info__col">
				<p>Paris Hotels Web is a community of passionate travel experts seeking to help city guests get the best of their stay in Paris with the insider collection of local accommodations available to book online.</p>
				<p>At Paris Hotels Web, we know the crucial role of the right setting for the meaningful travel experience, especially when visiting one of the most touristic cities in the world.</p>
				<p>Thanks to 10 years of expertise, we have gathered an exhausting database of Paris properties of all types - from international hotel chains and resorts to small local favorites and B&Bs. </p>
			</div>
			<div class="v-info__col">
				<p>Every single property you find on Paris Hotel Web is carefully selected and verified, thus you are guaranteed a relaxing stay in a wonderful neighbourhood.</p>
				<p>We are as demanding and sensible as you are, that’s why we try hard to find and offer you economy rates directly from local suppliers. We care about your time and provide all the information needed to book the perfect stay - multi-language content, simple and secure booking.</p>
				<p>We are happy that our expertise helps travellers to explore Paris and have a successful trip with local flavor. At Paris Hotels Web you book the hotel that's right for you</p>
			</div>
		</div>
		<a class="v-link-more v-info__more js-toggle-control" hidden>
			<span data-text="more">View more</span>
			<span data-text="less">Less</span>
			{{mixins.icon('down', 'v-link-more__icon')}}
		</a>
	</div>
</div>
<!-- end v-info -->