<!-- begin v-overview -->
<div class="v-overview js-overview">
	<div class="v-inner v-overview__inner">
		<h2 class="title-lg v-overview__title">Hotel Overview</h2>
		<div class="v-overview__content">
			<div class="v-overview__text js-overview-content">
				<p>The classic 3-star Hotel Dormy House lies within walking distance of University of Le Havre, Musee des Terre and Normandie Paintball Arenas.</p>
				<p>The hotel is right in the center of Etretat. The property is set within 1 km distance from Etretat city center.</p>
				<p>Hotel Dormy House offers 54 rooms fitted with a minibar, a dressing area, a personal computer, multi-channel television and a writing desk for a comfortable stay in Etretat. Some rooms overlook the sea. They feature bathrooms with a bathtub, a shower and a hairdryer.</p>
				<p>Different dishes of regional cuisine are served at the restaurant. Serving both food and drinks, la Pizzeria and Dormy House are situated around 150 meters from the property.</p>
				<p>The venue is notable for the panoramic location within a 25-minute drive to Octeville airport.</p>
				<p>Such business facilities as a business center, a meeting room and a photocopier are available on site.</p>
			</div>
			<a href="#" class="v-overview__btn js-overview-toggle">
				View <span class="v-overview__more">more</span> <span class="v-overview__less">less</span>
				{{mixins.icon('down')}}
			</a>
		</div>
		<div class="v-overview__items">
			<div class="v-overview__items-in">
				{% for item in [
					{
						icon: 'alarm-clock',
						title: 'Check-in/out',
						description: 'Express Check-in / Check-out'
					},
					{
						icon: 'cocktail',
						title: 'Food/Drinks',
						description: 'Restaurant & Bar'
					},
					{
						icon: 'breakfast',
						title: 'Breakfast',
						description: 'Breakfast in the room'
					},
					{
						icon: 'wifi',
						title: 'Free Wi-Fi',
						description: 'Free Wi-Fi in public areas'
					},
					{
						icon: 'alarm-clock',
						title: 'Check-in/out',
						description: 'Express Check-in / Check-out',
						state: 'hidden'
					},
					{
						icon: 'cocktail',
						title: 'Food/Drinks',
						description: 'Restaurant & Bar',
						state: 'hidden'
					}
				] %}
					<div class="v-overview__item js-overview-item" {{item.state | safe}}>
						<div class="v-overview__box">
							<div class="v-overview__icon">
								{{mixins.icon(item.icon)}}
							</div>
							<h3 class="title-md v-overview__subtitle">{{item.title}}</h3>
							<div class="v-overview__description">{{item.description}}</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
<!-- end v-overview -->