@import 'helpers/all';

.Venus {
	width: 100%;
	min-width: 320px;
	color: $gray;
	font-family: $lato;
	@include font(14px, 400, 1.3);
	
	@include tablet {
		transition: margin-left 0.3s;
	}

	&.is-overflow-hidden {
		overflow: hidden;
	}

	@import 'generated/sprite-svg';
	@import 'lib/slick';
	@import 'lib/owl';
	@import 'lib/select2.min';
	@import 'lib/_bootstrap-datepicker';

	@import 'common';

	@import 'components/accordion';
	@import 'components/tabs';
	@import 'components/autocomplete';
	@import 'components/scrollbar';
	@import 'components/data-list';

	@import 'components/typography';

	@import 'components/btn';
	@import 'components/btn-direction';
	@import 'components/btn-gallery';
	@import 'components/btn-nav';

	@import 'components/list';
	@import 'components/pagination';

	@import 'components/logo';
	@import 'components/nav';
	@import 'components/nav-submenu';
	@import 'components/nav-contacts';
	@import 'components/nav-lists';
	@import 'components/header';

	@import 'components/hero';

	@import 'components/form';
	@import 'components/form-placeholder';

	@import 'components/fixed-button';
	@import 'components/datepicker';
	@import 'components/select';

	@import 'components/slider';

	@import 'components/checkbox';
	@import 'components/radio';
	@import 'components/radios';
	@import 'components/simple-input';
	@import 'components/input';
	@import 'components/textarea';
	@import 'components/popular';

	@import 'components/social';
	@import 'components/footer';

	@import 'components/modal';

	@import 'components/loader';

	@import 'components/search';
	@import 'components/sort';
	@import 'components/controls';

	@import 'components/filter-menu';

	@import 'components/range';
	@import 'components/filters';

	@import 'components/hotels';

	@import 'components/filters-opened';
}
