@import 'helpers/all';

.Venus {
	width: 100%;
	min-width: 320px;
	color: $gray;
	font-family: $fontfamilyMain;
	@include font(14px, 400, 1.3);
	
	@include tablet {
		transition: margin-left 0.3s;
	}

	&.is-overflow-hidden {
		overflow: hidden;
	}

	@import 'generated/sprite-svg';

	@import 'common';

	@import 'components/accordion';
	@import 'components/scrollbar';

	@import 'components/typography';

	@import 'components/btn';
	@import 'components/btn-direction';
	@import 'components/btn-gallery';
	@import 'components/btn-nav';

	@import 'components/list';

	@import 'components/logo';
	@import 'components/nav';
	@import 'components/nav-submenu';
	@import 'components/nav-contacts';
	@import 'components/nav-lists';
	@import 'components/header';

	@import 'components/hero';

	@import 'components/slider';

	@import 'components/social';
	@import 'components/footer';

	@import 'components/link-more';

	@import 'components/input';
	@import 'components/textarea';
	@import 'components/checkbox';
	@import 'components/select';

	@import 'components/section';

	@import 'components/content';
	@import 'components/contacts';
}
