//fonts
$fontfamilyMain: 'Lato', 'Roboto', Arial, sans-serif;

//colors
$white: #fff;
$black: #000;

$theme-main-color: #50E3C2; //$lightGreen
$theme-main-color-darken: #51E2B8; //$green
$theme-main-color-active: #14D7AC; //$darkGreen

$red: #FC4163;
$lightRed: #F98C9F;

$blue: #5EABDD;
$lightBlue: #2FB4F9;

$orange: #FB9C2C;

$gray: #5B6D7C;
$lightGray: #CFDEE5;
$darkGray: #333;

//common styles
$container-shadow: 0 7px 19px 2px rgba($black,0.05);
$container-shadow-phone: 0 2px 7px 0 rgba($black,0.05);

$btn-shadow: 0 2px 19px 0 rgba($black,0.10);

$section-bg: #F3F7F8;

@mixin container ($radius: null, $background: null, $shadow: null) {
	@if $radius != null {
		border-radius: $radius;
	} @else {
		border-radius: 4px;
	}
	@if $background != null {
		background: $background;
	} @else {
		background: $white;
	}
	@if $shadow != null {
		box-shadow: $shadow;
	} @else {
		box-shadow: $container-shadow;
	}
}