//fonts
$lato: 'Lato', 'Roboto', Arial, sans-serif;

//colors
$white: #fff;
$black: #000;

$green: #51E2B8;
$lightGreen: #50E3C2;
$darkGreen: #14D7AC;

$red: #FC4163;
$lightRed: #F98C9F;

$blue: #5EABDD;

$gray: #5B6D7C;
$lightGray: #CFDEE5;
$darkGray: #333;

//common styles
$container-shadow: 0 7px 19px 2px rgba($black,0.05);
$container-shadow-phone: 0 2px 7px 0 rgba($black,0.05);

$btn-shadow: 0 2px 19px 0 rgba($black,0.10);

