<!-- begin v-sm-form -->
<div class="v-sm-form">
	<form action="/" class="js-validation">
		<h3 class="title-md v-sm-form__title">quick review</h3>
		<div class="v-sm-form__container">
			<div class="v-sm-form__row">
				{% for item in [
					{
						classList: 'v-sm-form__col_md-100',
						mixin: 'radios',
						options: {
							label: 'Hotel rating',
							active: 4,
							range: 5,
							name: 'hotel-rating'
						}
					},
					{
						classList: 'v-sm-form__col_md-50',
						mixin: 'input',
						options: {
							placeholder: 'Name',
							classList: 'js-validation-container',
							inputClassList: 'js-validation-field',
							attrs: 'data-validation="name" data-validation-type="length"'
						}
					},
					{
						classList: 'v-sm-form__col_md-50',
						mixin: 'input',
						options: {
							placeholder: 'Email',
							errorMessage: 'Please enter a valid',
							classList: 'js-validation-container',
							inputClassList: 'js-validation-field',
							attrs: 'data-validation="email" data-validation-type="email"'
						}
					}
				] %}
					<div class="v-sm-form__col {{item.classList}}">
						{% if mixins[item.mixin] %}
							{{mixins[item.mixin](item.options)}}
						{% endif %}
					</div>
				{% endfor %}
			</div>
			{% if message %}
				<div class="v-sm-form__message js-validation-message" hidden>
					<h4 class="v-sm-form__subtitle">Share your impressions</h4>
					{{mixins.textarea({
						placeholder: 'Type something',
						classList: 'js-validation-container',
						textareaClassList: 'js-validation-field',
						attrs: 'data-validation="textarea" data-validation-type="length"'
					})}}
				</div>
			{% endif %}
			<div class="v-sm-form__footer">
				<button class="btn btn_large" type="submit">Leave Review</button>
			</div>
		</div>
	</form>
</div>
<!-- end v-sm-form -->