<!-- begin v-review -->
<div class="v-review" data-scrollto-section="v-review">
	<div class="v-inner v-review__inner">
		<h2 class="title-lg v-review__title">Review</h2>
		<div class="v-review__sidebar">
			{% include './_sidebar.html' %}
		</div>
		<div class="v-review__main">
			<div class="js-list" data-list-show="4">
				{% include './_items.html' %}
				<div class="v-review__pagination">
					<div class="v-pagination js-list-pagination"></div>
					<div class="v-pagination__counter">
						<span class="js-list-current"></span>
						<span>/</span>
						<span class="js-list-total"></span>
					</div>
				</div>
			</div>
			{% include './_form.html' %}
			{% set message = true %}
			{% include './_form.html' %}
		</div>
	</div>
</div>
<!-- end v-review -->