<!-- begin v-location__items -->
<div class="v-location__items">
	<h2 class="title-lg v-location__subtitle">LOCAL  ATTRACTIONS</h2>
	<div class="v-location__description">Click on the name to get directions to the local attractions</div>
	<div class="v-slider">
		<div class="v-slider__inner owl-carousel js-slider">
			{% for item in range(0,3) %}
				{% for item in [
					{
						icon: 'museum',
						title: 'museums',
						list: [
							{ key: "Falaise d'Etretat", value: '3.3 km' },
							{ key: 'Espace Art contemporain', value: '1.3 km' },
							{ key: 'Natterra Private Tours', value: '7.7 km' },
							{ key: 'Le Clos Arsene Lupin', value: '0.5 km' }
						]
					},
					{
						icon: 'tree',
						title: 'parks',
						list: [
							{ key: 'Ferme Le Valaine', value: '2.1 km' },
							{ key: 'étretat', value: '0.9 km' },
							{ key: 'City Center', value: '1.2 km' }
						]
					},
					{
						icon: 'cinema',
						title: 'theaters',
						list: [
							{ key: 'Aiguille', value: '3.3 km' },
							{ key: "Falaise d'Etretat", value: '1.3 km' },
							{ key: 'Espace Art contemporain', value: '7.7 km' },
							{ key: 'Octeville', value: '0.5 km' },
							{ key: 'Le Clos Arsene Lupin', value: '3.5 km' }
						]
					}
				] %}
					<div class="v-slider__item">
						<div class="v-info-box">
							{{mixins.icon(item.icon)}}
							<div class="v-info-box__content">
								<h3 class="title-md v-info-box__title">{{item.title}}</h3>
								<ul class="v-info-box__list">
									{% for item in item.list %}
										<li class="v-info-box__item">
											<a href="#">
												<div class="v-info-box__key">{{item.key}}</div>
												<div class="v-info-box__value">{{item.value}}</div>
											</a>
										</li>
									{% endfor %}
								</ul>
							</div>
						</div>
					</div>
				{% endfor %}
			{% endfor %}
		</div>
	</div>
</div>
<!-- end v-location__items -->