<!-- begin hero -->
<div class="v-hero">
	{% include './_heading.html' %}
	<div class="v-hero__slider owl-carousel js-hero-slider">
		{% for item in [
			'https://placeholdit.co//i/1440x1440?bg=111111',
			'https://placekitten.com/1440/1440',
			'https://placeholdit.co//i/1440x1440?bg=ffffcc'
		] %}
			<div class="v-hero__slide" style="background-image: url({{item}});">
				<div class="v-hero__slide-header">
					<div class="v-hero__slide-blur" style="background-image: url({{item}});"></div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>
<!-- end hero -->