<div class="v-hero__meta">
	<a href="#" class="v-rating v-hero__rating" data-scrollto="v-review">
		<div class="v-rating__value">
			<strong>4.1</strong>
			<small>out of 5</small>
		</div>
		<div class="v-rating__container">
			<img src="img/logo-tripadvisor.svg" alt="TripAdvisor" class="v-rating__logo">
			<div class="v-rating__meta">120 reviews</div>
		</div>
	</a>
	<button class="btn-gallery v-hero__btn-gallery js-modal-control" data-modal="v-photo-gallery">
		{{mixins.icon('picture')}}
		<span>Photo Gallery</span>
	</button>
</div>