<!-- begin v-filters__items -->
<div class="v-filters__items" data-list="7">
	<ul class="v-filters__list">
		{% for item in list %}
			{% set content = item.label + ' <em>(' + item.value + ')</em>' %}
			<li class="v-filters__item" data-list-item>
				{{mixins.checkbox({
					checked: item.checked,
					content: content
				})}}
			</li>
		{% endfor %}
	</ul>
	<a href="#" class="v-filters__more" data-list-control>
		<span data-list-more>More</span>
		<span data-list-less>Less</span>
	</a>
</div>
<!-- end v-filters__items -->