<!-- begin v-items -->
<div class="v-items js-list" data-list-show="9" data-tabs-container="v-list">
	<div class="v-items__row">
		{% for props in range(0,55) %}
			<div class="v-items__col js-list-item">
				{{item.call(props)}}
			</div>
		{% endfor %}
	</div>
	<div class="v-items__pagination">
		<div class="v-pagination js-list-pagination"></div>
		<div class="v-pagination-counter">
			<span class="js-list-current"></span>
			<span>/</span>
			<span class="js-list-total"></span>
		</div>
	</div>
</div>
<!-- end v-items -->