<!-- begin v-map -->
<div class="v-map" data-tabs-container="v-map">
	<div class="v-map__inner js-lazy" data-src="https://placekitten.com/g/1000/700"></div>
	<div class="v-map__items">
		<div class="v-map-price">
			<span>1 896 €</span>
		</div>
		<div class="v-map-price">
			<span>963 €</span>
		</div>
		<div class="v-map-price">
			<span>1020203213 €</span>
		</div>
	</div>
	<div class="v-map__items">
		<div class="v-map-point">
			<span>103</span>
		</div>
		<div class="v-map-point">
			<span>2</span>
		</div>
		<div class="v-map-point">
			<span>21</span>
		</div>
		<div class="v-map-point">
			<span>123412</span>
		</div>
	</div>
</div>
<!-- end v-map -->