{% import 'partials/_mixins.html' as mixins %}
{% macro call(props) %}
<div class="v-item">
	<div class="v-item__img">
		{% if props.img %}
			<a href="#" class="v-item__img-in" style="background-image: url({{props.img}});"></a>
		{% else %}
			{{mixins.icon('photo-camera')}}
		{% endif %}
	</div>
	<div class="v-item__header">
		<h3 class="title-md v-item__title">{{props.title or 'Superior Double Room'}}</h3>
		<div class="v-item__meta">{{props.meta or 'Sea view'}}</div>
	</div>
	<div class="v-item__body">
		<div class="v-item__container">
			<div class="v-item__row">
				{% for item in [
					{
						number: '1',
						title: 'Double bed',
						icon: 'bed'
					},
					{
						number: '2',
						title: 'Guests',
						icon: 'adults'
					},
					{
						number: '21',
						title: 'Room area'
					}
				] %}
					{% if not (loop.last and props.area == false) %}
						<div class="v-item__cell">
							<em>{{item.number}}</em>
							{% if item.icon %}
								{{mixins.icon(item.icon)}}
							{% else %}
								<span>m<sup>2</sup></span>
							{% endif %}
							<strong>{{item.title}}</strong>
						</div>
					{% endif %}
				{% endfor %}
			</div>
		</div>
		<div class="v-item__details">
			<div class="v-item__icons">
				{{mixins.icon('coffee-cup')}}
				{{mixins.icon('wifi')}}
				{{mixins.icon('tv')}}
				{{mixins.icon('coffee-cup')}}
				{{mixins.icon('wifi')}}
				{{mixins.icon('tv')}}
			</div>
			<a href="#" class="v-item__link">Photo & Details</a>
		</div>
	</div>
	<div class="v-item__footer">
		<a href="#" class="btn btn_large">Get Price</a>
	</div>
</div>
{% endmacro %}