{% import 'partials/_mixins.html' as mixins %}
{% macro call(props) %}
<div class="v-item-box" {{props.attrs | safe}}>
	<div class="v-item-box__display">
		<div class="v-item-box__slider owl-carousel js-item-box-slider">
			{% for item in props.imgs or [
				'https://placekitten.com/g/300/300',
				'https://placekitten.com/g/350/350',
				'https://placekitten.com/g/400/400',
				'https://placekitten.com/g/500/500'
			] %}
				<div class="v-item-box__img">
					<div class="v-item-box__img-in" style="background-image: url({{item}});"></div>
					<div class="v-item-box__blur">
						<div class="v-item-box__blur-in" style="background-image: url({{item}});"></div>
					</div>
				</div>
			{% endfor %}
		</div>
		<div class="v-item-box__caption">
			<div class="v-item-box__rating">4.5</div>
			<div class="v-item-box__caption-inner">
				<div class="v-item-box__subtitle">Excellent</div>
				<div class="v-item-box__reviews">12 reviews</div>
			</div>
		</div>
	</div>
	<div class="v-item-box__meta">
		<div class="v-item-box__meta-top">
			<div class="v-item-box__row">
				<div class="v-item-box__stars">
					{% for item in range(0,props.stars or 2) %}
						{{mixins.icon('star')}}
					{% endfor %}
				</div>	
				<h3 class="title-md v-item-box__title">{{props.title or 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, facere.'}}</h3>
			</div>
		</div>
		<div class="v-item-box__meta-bottom">
			<div class="v-item-box__row">
				<a href="#" class="v-item-box__show">Show map</a>
				<div class="v-item-box__place">
					{{mixins.icon('marker')}}
					<span>{{props.place or 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, commodi!'}}</span>
				</div>
			</div>
		</div>
	</div>
	<div class="v-item-box__container">
		{{mixins.icon('coffee-cup')}}
		{{mixins.icon('wifi')}}
		{{mixins.icon('tv')}}
		{{mixins.icon('coffee-cup')}}
		{{mixins.icon('wifi')}}
		{{mixins.icon('tv')}}
	</div>
	<div class="v-item-box__price">
		<span>from</span>
		<strong>{{props.price or '955'}} €</strong>
	</div>
	<div class="v-item-box__footer">
		<a href="#" class="btn btn_large">Boot now</a>
	</div>
</div>
{% endmacro %}