<!-- begin v-articles -->
<div class="v-articles">
	<h2 class="title-lg v-articles__title">Good to know</h2>
	<div class="v-articles__sections">
		{% for item in [
			{
				title: 'Upper Normandy Travel Guide',
				text: [
					'Think of Normandy, and for most people this conjures up images of the D-Day beaches, the Bayeaux Tapestry and le Mont St Michel. All of these important and interesting sites are in what is Basse Normandie.',
					'Less well known is Haute Normandie, an area that most people simply drive through on their way further south. But this area is as rewarding and interesting as any of the other regions of France, with history stretching from the earliest Stone Age peoples to the more recent political alliances between the United Kingdom and France.',
					'The weather here is as good as any other part of Normandy, and the cuisine is also much like that of the rest of Normandy. The coastline has a number of quaint fishing ports, and so fresh fish and shellfish are everyday fare.',
					'Think of Normandy, and for most people this conjures up images of the D-Day beaches, the Bayeaux Tapestry and le Mont St Michel. All of these important and interesting sites are in what is Basse Normandie.',
					'Less well known is Haute Normandie, an area that most people simply drive through on their way further south. But this area is as rewarding and interesting as any of the other regions of France, with history stretching from the earliest Stone Age peoples to the more recent political alliances between the United Kingdom and France.',
					'The weather here is as good as any other part of Normandy, and the cuisine is also much like that of the rest of Normandy. The coastline has a number of quaint fishing ports, and so fresh fish and shellfish are everyday fare.'
				]
			},
			{
				classList: 'v-article_right',
				title: 'Things to do with kids in Normandy',
				text: [
					'Visit the 8th-century Benedictine abbey of Mont-St-Michel clinging to its rocky outcrop, which inspired the design of Minas Tirith in Lord of the Rings. Explore its higgledly-piggledy cobbled (and steep) alleyways, see the son-et-lumière show at the Archéoscope, and take at look at its eerie crypts and maritime and historical museums.',
					'Then venture into the Mont’s spectacular bay of quicksands, which once swallowed hordes of pilgrims. Access is strictly by guided walk or by tractor-drawn cart – the tides are Europe’s fastest-moving.'
				]
			}
		] %}
			<div class="v-article {{item.classList}}">
				<div class="v-article__picture">
					<div class="v-article__figure">
						<div class="v-article__img js-lazy" data-src="https://placekitten.com/g/500/300"></div>
					</div>
				</div>
				<div class="v-article__content js-article">
					<div class="v-article__content-in js-article-text">
						<h3 class="title-md v-article__title">{{item.title}}</h3>
						<div class="v-article__text">
							{% for item in item.text %}
								<p>{{item | safe}}</p>
							{% endfor %}
						</div>
					</div>
					<a href="#" class="v-link-more v-article__more js-article-control">
						<span data-text="more">Read more</span>
						<span data-text="less">Less</span> 
						{{mixins.icon('down', 'v-link-more__icon')}}
					</a>
				</div>
			</div>
		{% endfor %}
	</div>
</div>
<!-- end v-articles -->