<!-- begin v-map -->
<div class="v-map">
	<div class="v-map__main">
		<div class="v-map__figure js-lazy" data-src="https://placekitten.com/g/900/500"></div>
	</div>
	<div class="v-map__sidebar">
		<div class="v-cities">
			<div class="v-cities__header">
				<div class="v-cities__title">
					{{mixins.icon('cities', 'v-cities__icon')}}
					<h3 class="title-md">FAVORED CITIES</h3>
				</div>
			</div>
			<div class="v-cities__body js-scrollbar v-scrollbar">
				<ul class="v-list v-list_tablet-half v-list_wider">
					{% for item in [
						'Fecamp',
						'Le Treport',
						'Saint-Marcel (EureVal-de-Reuil)',
						'Barentin',
						'Saint-Aubin-sur-Scie',
						'Jumieges',
						'Evreux',
						'Giverny',
						'Saint-Etienne-du-Rouvray',
						'Forges-les-Eaux',
						'Rouen',
						'Dieppe',
						'Le Havre',
						'Etretat',
						'Jumieges',
						'Fecamp',
						'Le Treport',
						'Saint-Marcel (EureVal-de-Reuil)',
						'Barentin',
						'Saint-Aubin-sur-Scie',
						'Jumieges',
						'Evreux',
						'Giverny',
						'Saint-Etienne-du-Rouvray',
						'Forges-les-Eaux',
						'Rouen',
						'Dieppe',
						'Le Havre',
						'Etretat',
						'Jumieges'
					] %}
						<li class="v-list__item">
							<a href="#" class="v-list__link">{{item}}</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- end v-map -->