<!-- begin v-options -->
<div class="v-options js-options">
	<h2 class="title-lg v-options__title">Accommodation options</h2>
	<ul class="v-options__list js-options-list">
		{% for item in [
			{ label: 'Hotels', value: '291' },
			{ label: 'Country houses', value: '17' },
			{ label: 'Holiday parks', value: '8' },
			{ label: 'Homestays', value: '1' },
			{ label: 'Holiday homes', value: '212' },
			{ label: 'Aparthotels', value: '16' },
			{ label: 'Farm stay', value: '6' },
			{ label: 'Inn', value: '1' },
			{ label: 'Bed & Breakfasts', value: '148' },
			{ label: 'Hostels', value: '14' },
			{ label: 'Luxury tent', value: '3' },
			{ label: 'Villas', value: '1' },
			{ label: 'Apartments', value: '125' },
			{ label: 'Campsites', value: '10' },
			{ label: 'Botel', value: '2' },
			{ label: 'Resort', value: '1' },
			{ label: 'Guest houses', value: '36' },
			{ label: 'Chalets', value: '9' },
			{ label: 'Motel', value: '2' },
			{ label: 'All type of accomodation', value: '851' }
		] %}
			<li class="v-options__item">
				<a href="#" class="v-options__link">
					<span class="v-options__label">{{item.label}}</span>
					<span class="v-options__value">({{item.value}})</span>
				</a>
			</li>
		{% endfor %}
	</ul>
	<a href="#" class="v-link-more v-options__more js-options-control">
		<span data-text="more">More</span>
		<span data-text="less">Less</span>
		{{mixins.icon('down', 'v-link-more__icon')}}
	</a>
</div>
<!-- end v-options -->