{% set lists = {
	title: 'Select language',
	header: [
		{
			abbr: 'ENG',
			text: 'English'
		},
		{
			abbr: 'DE',
			text: 'Deutch'
		},
		{
			abbr: 'RU',
			text: 'Russian'
		}
	],
	body: [
		{
			abbr: 'GBP',
			text: 'French'
		},
		{
			abbr: 'NZD',
			text: 'Spanish'
		},
		{
			abbr: 'SGD',
			text: 'Dansk'
		},
		{
			abbr: 'CAD',
			text: 'Chinese'
		},
		{
			abbr: 'RUB',
			text: 'Italiano'
		},
		{
			abbr: 'RUB',
			text: 'Italiano'
		},
		{
			abbr: 'GBP',
			text: 'French'
		},
		{
			abbr: 'NZD',
			text: 'Spanish'
		},
		{
			abbr: 'SGD',
			text: 'Dansk'
		},
		{
			abbr: 'CAD',
			text: 'Chinese'
		},
		{
			abbr: 'RUB',
			text: 'Italiano'
		},
		{
			abbr: 'RUB',
			text: 'Nederlands'
		}
	]
} %}
{% include './_nav-lists.html' %}