<!-- begin v-nav-submenu v-nav-submenu_hotels -->
<div class="v-nav-submenu v-nav-submenu_hotels" data-accordion-container>
	<ul class="v-list">
		{% for item in [
			{ name: '5-star hotels', amount: '1' },
			{ name: '4-star hotels', amount: '28' },
			{ name: '3-star hotels', amount: '117' },
			{ name: '2-star hotels', amount: '105' },
			{ name: 'Villas in Upper Normandy', amount: '4' },
			{ name: 'Apartaments in Upper Normandy', amount: '124' },
			{ name: 'Hostels in Upper Normandy', amount: '1' },
			{ name: 'Bed and breackfast in Upper Normandy', amount: '120' },
			{ name: 'Holiday in Upper Normandy', amount: '206' }
		] %}
			<li class="v-list__item">
				<a href="#" class="v-list__link">{{item.name}} <span>({{item.amount}})</span></a>
			</li>
		{% endfor %}
	</ul>
</div>
<!-- end v-nav-submenu v-nav-submenu_hotels -->