{% set lists = {
	title: 'Select currency',
	header: [ 
		{
			abbr: 'USD', 
			text: 'U.S. Dollar'
		},
		{
			abbr: 'EUR', 
			text: 'Euro'
		},
		{
			abbr: 'UAH', 
			text: 'Ukrainian hryvnia'
		}
	],
	body: [
		{
			abbr: 'GBP', 
			text: 'Pound sterling'
		},
		{
			abbr: 'DKK', 
			text: 'Danish krone'
		},
		{
			abbr: 'SGD', 
			text: 'Singapore dollar'
		},
		{
			abbr: 'CAD', 
			text: 'Canadian dollar'
		},
		{
			abbr: 'RUB', 
			text: 'Rusian ruble'
		},
		{
			abbr: 'KRW', 
			text: 'South Korean won'
		},
		{
			abbr: 'DKK', 
			text: 'Danish krone'
		},
		{
			abbr: 'BRL', 
			text: 'Brazil, real'
		},
		{
			abbr: 'CAD', 
			text: 'Canadian dollar'
		},
		{
			abbr: 'CAD', 
			text: 'Canadian dollar'
		},
		{
			abbr: 'RUB', 
			text: 'Rusian ruble'
		},
		{
			abbr: 'KRW', 
			text: 'South Korean won'
		}
	]
} %}
{% include './_nav-lists.html' %}