<div class="v-slider">
	<div class="v-slider__inner owl-carousel js-slider">
		{% for option in [
			{
				img: 'https://placekitten.com/g/330/150'
			},
			{
				area: false
			},
			{
				img: 'https://placekitten.com/g/330/150'
			},
			{
				img: 'https://placekitten.com/g/330/150'
			},
			{
				area: false
			},
			{
				img: 'https://placekitten.com/g/330/150'
			},
			{
				img: 'https://placekitten.com/g/330/150'
			},
			{
				area: false
			},
			{
				img: 'https://placekitten.com/g/330/150'
			}
		] %}
			<div class="v-slider__item">
				{{item.call(option)}}
			</div>
		{% endfor %}
	</div>
</div>