.v-alert {
	position: relative;
	padding: 20px;
	margin: 40px auto;
	border-radius: 4px;
	max-width: 945px;
	background: rgba($red, 0.1);
	box-shadow: $container-shadow;
	font-size: 0;

	@include tablet {
		padding: 15px;
		margin: 30px auto;
	}

	@include phone {
		padding: 15px 10px;
		margin: 15px auto;
	}

	&__icon {
		position: absolute;
		top: 20px;
		left: 20px;

		@include tablet {
			top: 15px;
			left: 15px;
		}

		@include phone {
			left: 10px;
		}

		~ .v-alert__content {
			padding-left: 20px;
			margin-left: 80px;
			border-left: 1px solid $red;

			@include tablet {
				padding-left: 15px;
				margin-left: 75px;
			}

			@include phone {
				padding-left: 0;
				margin-left: 50px;
				border: none;
			}
		}

		.icon {
			fill: $red;
			color: $white;
			font-size: 60px;

			@include phone {
				font-size: 40px;
			}
		}
	}

	&__btn {
		position: absolute;
		top: 50%;
		right: 20px;
		width: 200px;
		transform: translate3d(0,-50%,0);

		@include tablet {
			right: 15px;
		}

		@include phone {
			top: auto;
			left: 0;
			right: 0;
			bottom: 0;
			padding: 0 10px 20px;
			width: auto;
			@include gpu;
		}

		~ .v-alert__content {
			margin-right: 220px;

			@include tablet {
				margin-right: 215px;
			}

			@include phone {
				margin-right: 0;
				margin-bottom: 50px;
			}
		}
	}

	&__content {
		text-align: left;

		@include phone {
			padding-top: 5px;
			padding-bottom: 5px;
		}
	}

	&__title {
		margin-bottom: 15px;
		color: $red;
		@include font(16px, 700, 13px);

		@include tablet {
			margin-bottom: 10px;
			font-size: 14px;
		}
	}

	&__description {
		@include font(14px, null, 21px);

		@include phone {
			line-height: 23px;
		}
	}
}