.v-amenities {
	background: $section-bg;

	&__header {
		padding-top: 20px;
		padding-bottom: 30px;
		background: $white;
		text-align: center;

		@include phone {
			padding: 25px 0 5px;
			background: none;
		}
	}

	&__main {
		float: left;
		padding: 25px 0 30px;
		width: 77%;

		@include tablet {
			padding: 25px 0 20px;
			width: 100%;
		}

		@include phone {
			padding-top: 0;
		}
	}

	&__item {
		padding: 11px 0;

		@include phone {
			padding: 0;
		}
	}

	&__extra {
		padding-top: 20px;
	}

	&__sidebar {
		float: right;
		padding: 37px 0;
		width: 23%;

		@include tablet {
			padding: 0 0 30px;
			width: 100%;
		}
	}
}