.v-attractions {
	padding: 40px 0;
	text-align: center;

	@include phone {
		padding: 25px 0 20px;
	}

	&__title {
		margin-bottom: 15px;

		@include phone {
			margin-bottom: 10px;
		}
	}

	&__description {
		margin-bottom: 15px;
		@include font(14px, 400, 13px);

		@include phone {
			margin-bottom: 22px;
			@include font(null, null, 1.5);
		}
	}
}