.v-autocomplete {
	position: absolute;
	z-index: 500;
	display: none;
	overflow: auto;
	padding: 10px 0;
	max-height: 155px;
	@include container;

	&__item {
		position: relative;
		z-index: 1;
		padding: 5px 12px 5px 12px;
		border-radius: 4px;
		color: rgba($gray, 0.5);
		@include font(14px, null, 16px);
		@include textoverflow;
		cursor: pointer;
		transition: color 0.175s, background 0.175s;

		@include hover {
			color: $white;
			background: $theme-main-color;
		}

		&.selected {
			color: $white;
			background: $theme-main-color;

			.icon {
				opacity: 1;
			}
		}

		.icon {
			position: absolute;
			top: 50%;
			right: 15px;
			margin-top: -4px;
			fill: $white;
			opacity: 0;
			font-size: 8px;
			transition: opacity 0.175s;
		}
	}
}