.v-boxes {
	padding: 40px 0 25px;
	text-align: center;

	@include tablet {
		padding: 30px 0 20px;
	}

	@include phone {
		padding: 25px 0 20px;
	}

	&__title {
		margin-bottom: 20px;

		@include phone {
			margin-bottom: 15px;
		}
	}

	&__description {
		margin: 0 auto 25px;
		max-width: 758px;
		@include font(14px, 400, 1.5);

		@include tablet {
			margin-bottom: 20px;
		}

		@include phone {
			margin-bottom: 15px;
		}
	}

	&__row {
		display: flex;
		margin: 0 -15px;

		@include tablet {
			margin: 0 -10px;
		}

		@include phone {
			margin: 0 -5px;
			flex-wrap: wrap;
		}
	}

	&__col {
		flex-grow: 1;
		padding: 15px;
		width: 25%;

		@include tablet {
			padding: 10px;
		}

		@include phone {
			padding: 5px;
			width: 50%;
		}
	}
}

.v-box {
	padding: 23px 10px 22px;
	height: 100%;
	min-height: 110px;
	@include container;

	@include tablet {
		padding: 12px 9px;
	}

	@include phone {
		padding: 17px 2px;
	}

	&__icon {
		margin-bottom: 10px;
		fill: $blue;
		font-size: 34px;
	}

	br {
		display: none;

		@include tablet {
			display: block;
		}
	}
}