.btn {
	display: inline-block;
	vertical-align: top;
	padding: 10px 20px;
	border: 1px solid $theme-main-color-darken;
	border-radius: 4px;
	color: $white;
	background: $theme-main-color-darken;
	box-shadow: $btn-shadow;
	@include font(15px, 700, 1.2);
	text-transform: uppercase;
	text-align: center;
	transition: color 0.25s, border-radius 0.25s, background 0.25s, box-shadow 0.25s;

	@include hover {
		border-color: $theme-main-color-active;
		background: $theme-main-color-active;
	}

	&:disabled,
	&.is-disabled {
		border-color: rgba($gray, 0);
		background: rgba($gray, 0.4);
		box-shadow: none;
		cursor: not-allowed;

		@include hover {
			border-color: rgba($gray, 0);
			background: rgba($gray, 0.4);
		}
	}

	&_secondary {
		border-color: $theme-main-color;
		color: $theme-main-color;
		background: none;
		box-shadow: none;

		@include hover {
			border-color: $theme-main-color;
			color: $white;
			background: $theme-main-color;
		}

		&:disabled,
		&.is-disabled {
			border-color: $gray;
			color: $gray;
			opacity: 0.5;
			background: $white;

			@include hover {
				border-color: $gray;
				color: $gray;
				background: $white;
			}
		}
	}

	&_large {
		width: 100%;
		max-width: 198px;

		@include phone {
			max-width: none;
		}
	}

	&_wide {
		width: 100%
	}

	&_md {
		padding-top: 7px;
		padding-bottom: 7px;
		@include font(16px, 400, 19px);
	}
}