.v-comment {
	padding: 20px;
	@include container;

	@include tablet {
		padding: 20px 15px;
	}

	@include phone {
		padding: 15px 10px 20px;
	}

	&__user {
		position: relative;
		float: left;
		border-right: 1px solid $theme-main-color;
		width: 127px;

		@include tablet {
			width: 115px;
		}

		@include phone {
			float: none;
			padding: 5px 0 20px 100px;
			border-right: none;
			border-bottom: 1px solid $theme-main-color;
			width: 100%;
			min-height: 90px
		}
	}

	&__avatar {
		position: relative;
		overflow: hidden;
		margin-bottom: 15px;
		border-radius: 50%;
		width: 80px;
		height: 80px;
		@include vertical;

		@include phone {
			position: absolute;
			top: 0;
			left: 0;
			margin: 0;
			width: 75px;
			height: 75px;
		}
	}

	&__img {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border-radius: 50%;
		@include cover;
	}

	&__initials {
		display: inline-block;
		vertical-align: middle;
		width: 100%;
		color: $white;
		@include font(35px, 700, 42px);
	}

	&__name,
	&__description {
		@include font(14px, null, 13px);
	}

	&__name {
		margin-bottom: 10px;
		font-weight: 700;

		@include phone {
			margin-bottom: 5px;
		}
	}

	&__description {
		@include phone {
			margin-bottom: 6px;
			line-height: 20px;
		}
	}

	&__body {
		padding-left: 147px;

		@include tablet {
			padding-left: 135px;
		}

		@include phone {
			padding: 16px 0 0;
		}
	}

	&__logo {
		float: right;
		margin: 1px 0 15px;
		height: 14px;
		opacity: 0.5;

		@include phone {
			margin: 3px 0 13px;
		}
	}

	&__meta {
		overflow: hidden;
		margin-bottom: 12px;
		font-size: 0;

		@include phone {
			margin-bottom: 10px;
		}
	}

	&__rating,
	&__time,
	&__label {
		@include font(14px, null, 17px);
	}

	&__rating,
	&__time {
		display: inline-block;
		vertical-align: top;
	}

	&__rating {
		padding: 1px 5px 2px;
		margin-right: 10px;
		border-radius: 4px;
		min-width: 30px;
		color: $white;
		background: rgba($gray, 0.3);
		font-weight: 700;
	}

	&__time,
	&__label {
		padding: 1px 0 2px;
		opacity: 0.5;

		@include phone {
			padding: 0;
			line-height: 20px;
		}
	}

	&__label {
		display: none;
		margin-right: 8px;

		@include phone {
			display: inline-block;
			vertical-align: top;
		}
	}

	&__content {
		padding-bottom: 15px;
		min-height: 90px;

		@include phone {
			padding-bottom: 10px;
			min-height: none;
		}
	}

	&__title {
		margin-bottom: 10px;
		@include font(14px, 700, 17px);
	}

	&__text {
		@include font(14px, null, 21px);

		a {
			color: $blue;
			transition: color 0.25s;

			@include hover {
				color: $lightBlue;
			}
		}
	}

	&__like {
		display: inline-block;
		vertical-align: top;
		color: $blue;
		background: none;
		font-size: 0;

		&.is-active,
		&:hover {
			.icon-like-empty {
				opacity: 0;
			}
			
			.icon-like-full {
				opacity: 1;
			}
		}

		&.is-active {
			font-weight: 700;
		}

		span {
			display: inline-block;
			vertical-align: top;
		}

		&-number,
		&-label {
			padding-top: 3px;
			@include font(14px, null, 17px);
		}

		&-icons {
			position: relative;
			margin: 0 10px 0 5px;

			.icon {
				fill: $blue;
				font-size: 20px;
				transition: opacity 0.2s;
			}

			.icon-like-full {
				position: absolute;
				top: 0;
				left: 0;
				opacity: 0;
			}
		}
	}
}