.v-controls {
	padding: 0 7px;
	font-size: 0;

	@include tablet {
		padding: 0 10px;
	}

	@include phone {
		padding: 0 7px 0 8px;
	}

	&__item {
		position: relative;
		display: inline-block;
		vertical-align: top;
		padding: 12px 0 10px;
		margin: 0 8px;
		color: $gray;

		@include tablet {
			padding: 11px 10px;
			margin: 0;
		}

		@include phone {
			padding: 11px 8px 11px 7px;
		}

		@include hover {
			&:before {
				transform: translate3d(0,0,0) scaleX(1);
			}
		}

		&.is-active {
			&:before {
				transform: translate3d(0,0,0) scaleX(1);
			}

			span {
				font-weight: 700;
			}

			.icon {
				@include tablet {
					fill: $theme-main-color;
				}
			}
		}

		&:before {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			bottom: 2px;
			border-bottom: 2px solid $theme-main-color;
			transform: translate3d(0,0,0) scaleX(0);
			transition: transform 0.25s;

			@include tablet {
				display: none;
			}
		}

		span,
		.icon {
			display: inline-block;
			vertical-align: top;
		}

		span {
			padding: 1px 0 0 5px;
			@include font(14px, 400, 17px);
		}

		span,
		.icon-list {
			@include tablet {
				display: none;
			}
		}

		.icon {
			fill: $blue;
			font-size: 18px;
			transition: fill 0.25s;
		}

		.icon-items {
			display: none;

			@include tablet {
				display: inline-block;
			}
		}
	}
}