.datepicker {
	position: absolute;
	padding: 0 0 5px;
	width: 273px;
	color: $gray;
	@include container;
	@include font(14px, null, 17px);

	&.datepicker-orient-top {
		margin-top: -2px;
	}

	&.datepicker-orient-bottom {
		margin-top: 2px;
	}

	&:before,
	&:after {
		display: none;
	}

	//NAVIGATION
	.datepicker-switch {
		vertical-align: middle;
		height: 40px;
		background: none !important;
		@include font(16px, 700, 19px);
		cursor: default;
	}

	.prev,
	.next {
		position: relative;
		vertical-align: middle;
		color: rgba($white, 0);
		background: none !important;
		font-size: 0.1px;
		line-height: 40px;

		@include hover {
			&:before {
				opacity: 0;
			}

			&:after {
				opacity: 1;
			}
		}

		&:before,
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: 5px 9px;
			transition: opacity 0.25s;
		}

		&:after {
			opacity: 0;
		}
	}

	.prev {
		&:before {
			background-image: url(../img/prev.svg);
		}

		&:after {
			background-image: url(../img/prev-green.svg);
		}
	}

	.next {
		&:before {
			background-image: url(../img/next.svg);
		}

		&:after {
			background-image: url(../img/next-green.svg);
		}
	}
	//END NAVIGATION

	table {
		tr {
			th {
				height: auto;
				font-weight: 400;

				&.dow {
					position: relative;
					padding-bottom: 7px;

					&:after {
						content: '';
						position: absolute;
						left: 0;
						right: 0;
						bottom: 0;
						border-bottom: 1px solid $theme-main-color;
					}

					&:first-child {
						&:after {
							left: 12px;

							@include rtl {
								left: 0;
								right: 12px;
							}
						}
					}

					&:last-child {
						&:after {
							right: 12px;

							@include rtl {
								left: 12px;
								right: 0;
							}
						}
					}
				}

				&:nth-child(6),
				&:nth-child(7) {
					font-weight: 700;
				}
			}

			td {
				position: relative;
				vertical-align: top;
				padding: 8px 0;
				height: 30px;
				background: none !important;
				line-height: 1;

				@include hover {
					&:before {
						opacity: 1;
					}
				}

				&.selected, 
				&.selected.highlighted {
					color: $white;
					font-weight: 700;
					text-shadow: none;

					&:before {
						opacity: 1;
						background: $theme-main-color;
					}
				}

				&.range,
				&.range.highlighted {
					color: $gray;

					@include hover {
						color: $gray;
					}

					&:after {
						width: 100%;
						opacity: 1;
					}
				}

				&.range-start {
					&.range-end {
						&:after {
							display: none;
						}
					}

					&:after {
						left: 50%;
						opacity: 1;

						@include rtl {
							left: 0;
							right: 50%;
						}
					}
				}

				&.range-end {
					&:after {
						left: 0;
						right: 50%;
						opacity: 1;

						@include rtl {
							left: 50%;
							right: 0;
						}
					}
				}

				&.old,
				&.new {
					color: rgba($gray, 0.5);

					&.highlighted {
						color: rgba($gray, 0.5);
					}

					&.selected,
					&.selected.highlighted {
						color: $white;
					}
				}

				&.highlighted {
					color: $gray;
					font-weight: 700;

					@include hover {
						color: $gray;
					}
				}

				&:before,
				&:after {
					content: '';
					position: absolute;
					z-index: -1;
					top: 50%;
					left: 50%;
					height: 25px;
					opacity: 0;
					transition: opacity 0.25s, background 0.25s;
				}

				&:before {
					border: 1px solid $theme-main-color;
					border-radius: 4px;
					width: 25px;
					transform: translate3d(-50%,-50%,0);
				}

				&:after {
					left: 0;
					right: 0;
					background: rgba($theme-main-color, 0.3);
					transform: translate3d(0,-50%,0);
				}
			}
		}
	}
}