[data-list] {

	[data-list-item="false"],
	[data-list-control],
	[data-list-more="false"],
	[data-list-less="false"] {
		display: none;
	}

	[data-list-item="true"],
	[data-list-more="true"],
	[data-list-less="true"] {
		display: block;
	}

	[data-list-control="true"] {
		display: inline-block;
		vertical-align: top;
	}
}