.v-details {
    display: flex;
    flex-direction: column;
	overflow: auto;
	height: 100%;
	@include container;

	@include phone {
		height: auto;
		background: none;
		box-shadow: none;
	}

	&__header {
	    flex: 0 0 auto;
		padding-bottom: 15px;
		margin: 20px 20px 0;
		border-bottom: 1px solid $theme-main-color;

		@include tablet {
			margin: 15px 15px 0;
		}

		@include phone {
			padding-bottom: 10px;
			margin: 0;
		}
	}

	&__body {
		flex: 1 1 auto;
		padding: 0 20px;

		@include tablet {
			padding: 0 15px;
		}

		@include phone {
			padding: 0;
		}

		&.v-scrollbar.ps--active-y {
			padding-right: 20px;
		}
	}

	&__meta {
		margin-top: 5px;
		@include font(16px, null, 19px);

		@include phone {
			margin-top: 3px;
			@include font(14px, null, 20px);
		}
	}

	&__box,
	&__items {
		padding: 15px 0;

		@include phone {
			padding: 10px 0;
		}
	}

	&__box {
		border-bottom: 1px solid $lightGray;

		@include tablet {
			padding-bottom: 0;
			border: none;
		}

		@include phone {
			border-bottom: 1px solid $lightGray;
		}
	}

	&__settings {
		font-size: 0;

		@include tablet {
			display: table;
			table-layout: fixed;
			width: 100%;
		}

		@include phone {
			display: block;
			padding-top: 10px;
		}

		&-in {
			@include tablet {
				display: table-row;
			}

			@include phone {
				display: block;
			}
		}

		em,
		.icon,
		span {
			display: inline-block;
			vertical-align: middle;
		}

		em,
		span {
			font-size: 18px;
			line-height: 22px;
		}

		em {
			padding-right: 5px;
			font-weight: 700;
			font-style: normal;
		}

		span {
			color: $blue;
		}

		sup {
			display: inline-block;
			vertical-align: top;
			margin-top: -0.35em;
			font-size: 50%;
		}

		.icon {
			fill: $blue;
		}

		.icon-bed {
			font-size: 15px;
		}

		.icon-adults {
			font-size: 19px;
		}

		strong {
			display: block;
			padding-top: 3px;
			@include font(12px, 700, 15px);
			@include textoverflow;

			@include tablet {
				padding-top: 1px;
				@include font(14px, null, 17px);
			}

			@include phone {
				@include font(12px, null, 15px);
			}
		}
	}

	&__setting {
		display: inline-block;
		vertical-align: top;
		padding-top: 10px;
		text-align: center;

		@include tablet {
			display: table-cell;
			vertical-align: middle;
			padding-top: 0;
		}

		@include phone {
			display: inline-block;
			vertical-align: top;
		}

		&:not(:last-child) {
			padding-right: 40px;

			@include tablet {
				padding-right: 0;
				border-right: 1px solid rgba($lightGray, 0.5);
			}

			@include phone {
				padding-right: 40px;
				border-right: none;
			}
		}
	}

	&__top {
		padding-top: 19px;
		font-size: 0;

		@include tablet {
			padding: 0 20px;
			@include vertical;
		}

		@include phone {
			display: block;
			padding: 13px 0 0;
		}

		&-in {
			@include tablet {
				display: inline-block;
				vertical-align: middle;
				width: 100%;
				text-align: left;
			}
		}

		.icon {
			display: inline-block;
			vertical-align: middle;
			font-size: 25px;
			fill: currentColor;

			@include phone {
				font-size: 23px;
			}

			&:not(:last-child) {
				margin-right: 20px;

				@include phone {
					margin-right: 13px;
				}
			}
		}

		.icon-wifi {
			font-size: 21px;

			@include phone {
				font-size: 19px;
			}
		}
	}

	&__item {
		padding-top: 20px;

		@include phone {
			padding-top: 15px;
		}
	}

	&__heading {
		margin-bottom: 5px;
		font-size: 0;

		.icon,
		span {
			display: inline-block;
			vertical-align: bottom;
		}

		.icon {
			margin-right: 10px;
			fill: $blue;
		}

		.icon-toiletries {
			font-size: 25px;
		}

		.icon-puzzle {
			font-size: 22px;
		}

		.icon-armchair {
			font-size: 20px;
		}

		.icon-bedside-table {
			font-size: 28px;
		}

		span {
			padding-bottom: 2px;
			@include font(14px, 700, 17px);
		}
	}

	&__list {
		padding-left: 14px;
		font-size: 0;

		li {
			position: relative;
			display: inline-block;
			vertical-align: top;
			padding: 5px 10px 5px 16px;
			width: 50%;
			@include font(14px, null, 13px);

			@include tablet {
				width: 33.33%;
			}

			@include phone {
				width: 50%;
			}

			&:before {
				content: '';
				position: absolute;
				top: 10px;
				left: 0;
				border-radius: 50%;
				width: 6px;
				height: 6px;
				background: $theme-main-color-darken;
			}
		}
	}

	//tablet table
	&__tablet {
		&-table {
			@include tablet {
				display: table;
				table-layout: fixed;
				width: 100%;
			}

			@include phone {
				display: block;
			}
		}

		&-tr {
			@include tablet {
				display: table-row;
			}

			@include phone {
				display: block;
			}
		}

		&-td {
			@include tablet {
				display: table-cell;
			}

			@include phone {
				display: block;
			}

			&:not(:last-child) {
				.v-details__tablet-box {
					@include tablet {
						border-right: none;
					}
				}
			}

			&:first-child {
				.v-details__tablet-box {
					@include tablet {
						border-radius: 4px 0 0 4px;
					}
				}
			}

			&:last-child {
				.v-details__tablet-box {
					@include tablet {
						border-radius: 0 4px 4px 0;
					}
				}
			}
		}

		&-box {
			@include tablet {
				margin-top: 10px;
				border: 1px solid rgba($lightGray, 0.5);
				height: 86px;
			}

			@include phone {
				margin-top: 0;
				border: none;
				height: auto;
			}
			
			&-in {
				@include tablet {
					height: 100%;
				}

				@include phone {
					height: auto;
				}
			}
		}
	}
}