.v-form-placeholder {
	position: relative;
	z-index: 2;
	display: none;
	padding: 10px 15px;
	margin-top: -87px;
	border-radius: 4px 4px 0 0;
	background: rgba($white, 0.8);
	text-align: center;

	@include phone {
		display: block;
	}

	&__title {
		margin-bottom: 10px;
		@include font(14px, 700, 17px);
		text-transform: uppercase;
	}
}