.v-gallery-control {
	position: relative;
	z-index: 1;
	display: inline-block;
	vertical-align: top;
	padding: 9px 25px;
	border: 1px solid $white;
	border-radius: 4px;
	width: 180px;
	color: $white;
	background: none;
	font-size: 0;
	transition: opacity 0.25s;

	@include hover {
		span {
			&:after {
				opacity: 1;
			}
		}
	}

	span,
	.icon {
		display: inline-block;
		vertical-align: top;
	}

	span {
		position: relative;
		padding: 3px 0 2px 10px;
		@include font(12px, 700, 15px);
		text-transform: uppercase;

		&:after {
			content: '';
			position: absolute;
			left: 10px;
			right: 0;
			bottom: 0;
			border-bottom: 1px solid $white;
			opacity: 0;
			transition: opacity 0.25s;
		}
	}

	.icon {
		fill: currentColor;
		font-size: 20px;
	}
}