.v-hero {
	position: relative;
	height: 387px;
	color: $white;

	@include phone {
		height: 358px;
	}

	&__heading {
		position: absolute;
		z-index: 2;
		top: 0;
		left: 0;
		right: 0;
		overflow: hidden;
		padding: 38px 20px 38px;
		text-align: center;

		@include phone {
			padding: 13px 10px 13px;
		}

		&:before {
			content: '';
			position: absolute;
			z-index: 2;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: rgba($gray,0.30);
		}
	}

	&__heading-in {
		position: relative;
		z-index: 3;
	}

	&__title {
		@include font(30px, 900, 36px);
		text-transform: uppercase;

		@include phone {
			@include font(18px, null, 22px);
		}
	}


	&__slide,
	&__blur {
		position: relative;
		z-index: 1;
		height: 387px;
		@include cover;

		@include phone {
			height: 358px;
		}
	}

	&__blur {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		background-color: rgba(243,247,248,0.10);
		filter: blur(10px);
	}
}