.v-hotels {
	padding-top: 30px;
	padding-bottom: 30px;
	background: rgba($lightGray, 0.25);

	@include phone {
		padding-top: 20px;
	}

	&__title {
		padding-bottom: 30px;
		text-align: center;

		@include phone {
			padding-bottom: 20px;
		}
	}

	&__main {
		position: relative;
		margin-top: 30px;
		padding-left: 293px;
		min-height: 680px;
		@include clr;

		@include tablet {
			padding: 0;
			margin-top: 20px;
		}
	}

	&__sidebar {

	}

	&__content {
		
	}
}