.v-info-box {
	position: relative;
	padding: 20px 20px 20px 68px;
	height: 200px;
	text-align: left;
	@include container;

	@include phone {
		padding: 10px 10px 10px 50px;
		height: 181px;
	}

	.icon {
		position: absolute;
		top: 20px;
		left: 15px;
		fill: $blue;
		font-size: 39px;

		@include phone {
			top: 10px;
			left: 10px;
			font-size: 30px;
		}
	}

	&__content {
		padding-left: 20px;
		border-left: 1px solid $theme-main-color;

		@include phone {
			padding: 10px 0 0 10px;
		}
	}

	&__title {
		margin-bottom: 11px;

		@include phone {
			margin-bottom: 10px;
		}
	}

	&__list {
		padding-bottom: 7px;

		@include phone {
			padding: 0;
		}
	}

	&__item {
		@include clr;

		a {
			display: block;
			padding: 4px 0;
			@include clr;

			@include phone {
				padding: 3px 0;
			}
			
			@include hover {
				color: $blue;

				.v-info-box__value {
					opacity: 1;
				}
			}
		}
	}

	&__key {
		float: left;
		width: 80%;
		@include font(14px, null, 17px);
	}

	&__value {
		float: right;
		padding-top: 3px;
		width: 20%;
		opacity: 0.5;
		@include font(12px, 700, 14px);
		text-align: right;
		transition: opacity 0.25s;
	}
}