.v-items {
	&__title,
	&__subtitle {
		text-align: center;
	}

	&__section {
		padding: 30px 0 20px;

		@include phone {
			padding: 20px 0 15px;
		}

		&:not(:last-child) {
			border-bottom: 1px solid $lightGray;
		}
	}

	&__subtitle {
		margin-bottom: 15px;
	}

	&__container {
		@include tablet {
			padding-top: 5px;
			// margin: 0 -5px;
		}

		@include phone {
			padding-top: 0;
		}
	}

	&__col {
		float: left;
		width: 33.33%;

		@include tablet {
			width: 50%;
		}

		@include phone {
			width: 100%;
		}
	}

	&__toggle {
		text-align: center;

		@include phone {
			padding-bottom: 5px;
		}
	}

	&__content {
		display: none;

		&.is-open {
			display: block;
		}
	}

	&__list {
		padding: 20px 0 5px;
		margin: 0 -10px;
		font-size: 0;

		@supports (column-count: 3) {
			column-count: 3;
			column-gap: 30px;
		}

		@include tablet {
			padding-top: 20px;

			@supports (column-count: 2) {
				column-count: 2;
				column-gap: 20px;
			}
		}

		@include phone {
			padding-top: 5px;
			padding-bottom: 0;

			@supports (column-count: 1) {
				column-count: 1;
				column-gap: 0;
			}
		}

		li {
			display: inline-block;
			vertical-align: top;
			padding: 3px 10px 4px;
			width: 33.33%;
			@include font(14px, 400, 1.5);
			list-style: none;

			@supports (column-count: 3) {
				display: list-item;
				width: auto;
				-webkit-column-break-inside: avoid;
				page-break-inside: avoid;
				break-inside: avoid-column; 
			}

			@include tablet {
				width: 50%;

				@supports (column-count: 1) {
					width: 100%;
				}
			}

			@include phone {
				padding: 5px 0;
				width: 100%;

				@supports (column-count: 1) {
					width: 100%; 
				}
			}
		}

		a {
			display: block;
		}
	}
}