.v-item-box {
	padding: 15px 15px 20px;
	border-radius: 4px;
	background: $white;
	box-shadow: $container-shadow;
	text-align: left;

	@include phone {
		padding: 10px 10px 20px;
	}

	.slick-list {
		margin: 0 !important;
	}

	&__display {
		position: relative;
		overflow: hidden;
		margin-bottom: 15px;
		font-size: 0;

		@include phone {
			margin-bottom: 10px;
		}

		@include hover {
			.v-item-box__blur, 
			.v-item-box__caption {
				opacity: 0;
				visibility: hidden;
			}
		}
	}

	&__arrow {
		position: absolute;
		z-index: 10;
		top: 0;
		bottom: 0;
		width: 50%;
		background: none;

		.icon {
			fill: $white;
			font-size: 24px;
		}
	}

	&__prev {
		left: 0;
		padding-left: 7px;

		.icon {
			float: left;
		}
	}

	&__next {
		right: 0;
		padding-right: 7px;

		.icon {
			float: right;
		}
	}
	
	&__img,
	&__blur-in,
	&__display {
		height: 0;
		padding-bottom: 47.58%;

		@include phone {
			padding-bottom: 58.945%;
		}
	}

	&__img-in,
	&__blur-in {
		border-radius: 4px;
		@include cover;
	}

	&__img {
		position: relative;

		&-in {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
	}

	&__blur,
	&__blur-in,
	&__caption {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
	}

	&__blur {
		overflow: hidden;
		border-radius: 0 0 4px 4px;
		height: 46px;
		transition: opacity 0.25s, visibility 0.25s;

		&:before {
			content: '';
			position: absolute;
			z-index: 2;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: rgba(243,247,248,.3);
		}

		&-in {
			z-index: 1;
			background-color: rgba(243,247,248,.3);
			filter: blur(10px);
		}
		
	}

	&__caption {
		z-index: 5;
		padding: 7px;
		color: $white;
		font-size: 0;
		transition: opacity 0.25s, visibility 0.25s;
		@include clr;

		&-in {
			overflow: hidden;
			padding-top: 2px;
		}
	}

	&__rating {
		float: left;
		padding: 7px 3px 6px;
		margin-right: 5px;
		border-radius: 4px;
		min-width: 32px;
		height: 32px;
		color: $white;
		background: $theme-main-color;
		@include font(16px, 900, 19px);
		text-align: center;
	}

	&__subtitle {
		margin-bottom: -2px;
		@include font(14px, 900, 17px);
		letter-spacing: 1px;
	}

	&__reviews {
		@include font(12px, 700, 15px);
	}

	&__meta {
		padding-bottom: 10px;
		margin-bottom: 10px;
		border-bottom: 1px solid $theme-main-color;
		font-size: 0;

		&-bottom {
			padding-top: 7px;
		}
	}

	&__row {
		display: inline-block;
		vertical-align: top;
		max-width: 100%;
		white-space: nowrap;
		@include clr;
	}

	&__show,
	&__stars {
		float: right;
	}

	&__stars {
		margin-left: 10px;
		font-size: 0;

		.icon-star {
			fill: $gray;
			opacity: 0.5;
			font-size: 14px;

			&:not(:last-child) {
				margin-right: 1px;
			}
		}
	}

	&__show {
		margin-left: 5px;
		color: $blue;
		transition: color 0.25s;

		@include hover {
			color: $lightBlue;
		}
	}

	&__title,
	&__place {
		max-width: 250px;
		@include textoverflow;
	}

	&__show,
	&__place {
		@include font(12px, null, 13px);
	}

	&__place {
		color: rgba($gray, 0.5);
		@include clr;

		.icon {
			float: left;
			margin-right: 5px;
			fill: $gray;
			font-size: 13px;
		}
	}

	&__container {
		padding: 17px 14px 16px;
		margin-bottom: 15px;
		border: 1px solid rgba($lightGray, 0.5);
		border-radius: 4px;
		font-size: 0;
		text-align: left;

		@include phone {
			padding: 18px 10px 17px;
		}

		.icon {
			display: inline-block;
			vertical-align: middle;
			font-size: 25px;
			fill: currentColor;

			@include phone {
				font-size: 23px;
			}

			&:not(:last-child) {
				margin-right: 20px;

				@include phone {
					margin-right: 13px;
				}
			}
		}

		.icon-wifi {
			font-size: 21px;

			@include phone {
				font-size: 19px;
			}
		}
	}

	&__price {
		margin-bottom: 15px;
		font-size: 0;
		text-align: center;

		@include phone {
			margin-bottom: 10px;
		}

		span,
		strong {
			display: inline-block;
			vertical-align: top;
		}

		span {
			padding: 13px 10px 4px 0;
			@include font(14px, 700, 13px);

			@include phone {
				padding: 8px 6px 3px 0;
			}
		}

		strong {
			color: $blue;
			@include font(25px, 700, 30px);

			@include phone {
				@include font(20px, null, 24px);
			}
		}
	}

	&__footer {
		text-align: center;
	}
}