.v-item-row {
	padding: 15px;
	margin-top: 40px;
	color: $gray;
	text-align: left;
	@include clr;
	@include container;

	@include tablet {
		margin-top: 20px;
	}

	@include phone {
		padding: 10px 10px 20px;
		margin-top: 15px;
	}

	&__sidebar {
		float: left;
		padding-right: 15px;
		width: 31%;

		@include tablet {
			padding: 0 0 20px;
			width: 100%;
		}

		@include phone {
			padding-bottom: 15px;
		}
	}

	&__img {
		padding-bottom: 44.065%;
		margin-bottom: 15px;
		border-radius: 4px;
		height: 0;
		@include cover;

		@include tablet {
			padding-bottom: 39.32%;
		}

		@include phone {
			padding-bottom: 49.29%;
			margin-bottom: 10px;
		}
	}

	&__info {
		margin-bottom: 10px;
		border-bottom: 1px solid $theme-main-color;

		@include tablet {
			margin-bottom: 15px;
		}

		@include phone {
			margin-bottom: 10px;
		}
	}

	&__title {
		margin-bottom: 5px;

		@include phone {
			margin-bottom: 3px;
		}
	}

	&__meta {
		margin-bottom: 5px;
		@include font(14px, null, 13px);

		@include tablet {
			margin-bottom: 10px;
		}

		@include phone {
			margin-bottom: 5px;
			line-height: 20px;
		}
	}

	&__body {
		border: 1px solid rgba($lightGray, 0.5);
		border-radius: 4px;
	}

	&__table {
		display: table;
		table-layout: fixed;
		width: 100%;

		@include tablet {
			height: 100%;
		}
	}

	&__tr {
		display: table-row;
	}

	&__td {
		display: table-cell;
		vertical-align: middle;
		padding: 4px;
		border-bottom: 1px solid rgba($lightGray, 0.5);
		height: 48px;
		font-size: 0;
		text-align: center;

		@include tablet {
			border-bottom-width: 0;
		}

		@include phone {
			border-bottom-width: 1px;
		}

		&:not(:last-child) {
			border-right: 1px solid rgba($lightGray, 0.5);
		}
		
		em,
		.icon,
		span {
			display: inline-block;
			vertical-align: middle;
		}

		em,
		span {
			font-size: 18px;
			line-height: 22px;
		}

		em {
			padding-right: 5px;
			font-weight: 700;
			font-style: normal;
		}

		span {
			color: $blue;
		}

		sup {
			display: inline-block;
			vertical-align: top;
			margin-top: -0.35em;
			font-size: 50%;
		}

		.icon {
			fill: $blue;
		}

		.icon-bed {
			font-size: 15px;
		}

		.icon-adults {
			font-size: 19px;
		}

		strong {
			display: block;
			padding-top: 3px;
			@include font(12px, 700, 15px);
			@include textoverflow;

			@include tablet {
				padding-top: 1px;
				@include font(14px, null, 17px);
			}

			@include phone {
				@include font(12px, null, 15px);
			}
		}
	}

	&__details {
		padding: 16px 24px;
		font-size: 0;
		text-align: left;

		@include tablet {
			padding: 15px 20px 14px;
		}

		@include phone {
			padding: 20px 10px 15px;
		}

		.icon {
			display: inline-block;
			vertical-align: middle;
			font-size: 25px;
			fill: currentColor;

			@include phone {
				font-size: 23px;
			}

			&:not(:last-child) {
				margin-right: 20px;

				@include phone {
					margin-right: 13px;
				}
			}
		}

		.icon-wifi {
			font-size: 21px;

			@include phone {
				font-size: 19px;
			}
		}
	}

	&__icons {
		margin-bottom: 19px;

		@include tablet {
			margin-bottom: 13px;
		}

		@include phone {
			margin-bottom: 15px;
		}
	}

	&__link {
		color: $blue;
		@include font(14px, 700, 17px);
	}

	&__tablet {
		&-table {
			@include tablet {
				display: table;
				table-layout: fixed;
				width: 100%;
			}
		}

		&-tr {
			@include tablet {
				display: table-row;
			}
		}

		&-td {
			@include tablet {
				display: table-cell;
				vertical-align: middle;
				height: 84px;
			}

			@include phone {
				height: auto;
			}

			&:not(:last-child) {
				@include tablet {
					border-right: 1px solid rgba($lightGray, 0.5);
				}

				@include phone {
					border: none;
				}
			}
		}

		&-table,
		&-tr,
		&-td {
			@include phone {
				display: block;
			}
		}
	}

	&__main {
		float: right;
		border: 1px solid rgba($lightGray, 0.5);
		border-radius: 4px;
		width: 69%;

		@include tablet {
			width: 100%;
		}
	}

	&__lines {
		display: table;
		table-layout: fixed;
		width: 100%;
	}

	&__line {
		display: table-row;

		@include phone {
			padding: 10px 10px 20px;
			border-bottom: 1px solid rgba($lightGray, 0.5);
		}

		&.is-hidden {
			display: none;
		}

		.v-item-row__cell {
			border-bottom: 1px solid rgba($lightGray, 0.5);

			@include phone {
				border: none;
			}
		}
	}

	&__cell {
		display: table-cell;
		vertical-align: top;
		padding: 35px 20px 23px;

		@include phone {
			padding: 0;
		}

		&:first-child {
			width: 35.77%;

			@include tablet {
				width: 34.5%;
			}
		}

		&:last-child {
			width: 238px;
		}

		&:first-child,
		&:last-child {
			@include phone {
				width: 100%;
			}
		}
	}

	&__lines,
	&__line,
	&__cell {
		@include phone {
			display: block;
		}
	}

	&__price {
		margin-bottom: 10px;
		font-size: 0;
		text-align: center;

		@include phone {
			margin-bottom: 13px;
		}

		strong,
		span {
			display: block;

			@include phone {
				display: inline-block;
				vertical-align: top;
			}
		}

		strong {
			color: $blue;
			@include font(25px, 700, 30px);

			@include phone {
				@include font(20px, null, 24px);
			}
		}

		span {
			@include font(14px, null, 17px);

			@include phone {
				padding: 6px 0 1px 5px;
			}
		}
	}

	&__activity {
		@include clr;

		@include phone {
			margin-bottom: 10px;
		}
	}

	&__label {
		padding: 5px 0 10px;
		@include font(16px, 700, 19px);

		@include phone {
			float: left;
			padding: 0;
		}

		&.is-active {
			color: $theme-main-color;
		}
	}

	&__hint {
		position: relative;

		&.is-active {
			.v-item-row__hint {
				&-control {
					text-decoration: underline;
				}

				&-container {
					opacity: 1;
					visibility: visible;
				}
			}
		}

		@include phone {
			float: right;
		}

		&-control {
			color: $blue;
			@include font(14px, 700, 17px);

			@include hover {
				text-decoration: underline;

				// + .v-item-row__hint-container {
				// 	opacity: 1;
				// 	visibility: visible;
				// }
			}
		}

		&-container {
			position: absolute;
			z-index: 10;
			top: 100%;
			left: -20px;
			padding: 14px 6px 14px 19px;
			margin-top: 10px;
			border: 1px solid $theme-main-color;
			border-radius: 4px;
			width: 331px;
			opacity: 0;
			visibility: hidden;
			background: $white;
			box-shadow: $container-shadow;
			transition: opacity 0.25s, visibility 0.25s;

			@include phone {
				left: auto;
				right: -21px;
				width: 300px;
			}

			&:before,
			&:after {
				content: '';
				position: absolute;
				left: 52px;
				bottom: 100%;

				@include phone {
					left: auto;
					right: 52px;
				}
			}

			&:before {
				@include arr(18, 10, $theme-main-color, t);
			}

			&:after {
				margin-bottom: -2px;
				@include arr(18, 10, $white, t);
			}
		}
	}

	&__label,
	&__hint-control {
		@include phone {
			@include font(14px, null, 20px);
		}
	}

	&__settings {
		@include phone {
			margin-bottom: 10px;
		}
	}

	&__setting {
		position: relative;
		padding: 8px 0 8px 28px;

		&.is-active {
			.icon {
				fill: $theme-main-color;
			}
		}

		span {
			display: block;
			@include font(14px, null, 13px);

			@include phone {
				line-height: 14px;
			}
		}

		.icon {
			position: absolute;
			left: 0;
			fill: $gray;
		}

		.icon-bed {
			top: 7px;
			font-size: 15px;
		}

		.icon-coffee-cup {
			top: 2px;
			left: 2px;
			font-size: 20px;
		}

		.icon-wifi {
			top: 3px;
			font-size: 19px;
		}
	}

	&__footer {
		display: block;
		text-align: center;
	}

	&__toggle {
		display: inline-block;
		vertical-align: top;
		padding: 12px 15px;
		color: $blue;
		@include font(14px, null, 17px);
		text-transform: uppercase;

		@include phone {
			display: block;
			padding: 10px 15px 9px;
		}

		@include hover {
			text-decoration: underline;
		}

		&.is-active {
			.v-item-row {
				&__more {
					display: none;
				}

				&__less {
					display: block;
				}
			}
		}
	}

	&__less {
		display: none;
	}

	&__list {
		li {
			position: relative;
			padding: 5px 0 5px 16px;
			@include font(14px, null, 21px);

			&:before {
				content: '';
				position: absolute;
				top: 11px;
				left: 0;
				display: none;
				border-radius: 50%;
				width: 6px;
				height: 6px;
				background: $theme-main-color-darken;
			}

			strong,
			span {
				display: block;
			}

			strong {
				margin-bottom: 10px;
				line-height: 17px;
			}
		}
	}
}