.v-list {
	&_tablet-inline {
		@include tablet {
			position: relative;
			padding-left: 16px;
		}

		@include phone {
			padding-left: 0;
		}

		&:before {
			content: '';
			position: absolute;
			top: 11px;
			left: 0;
			display: none;
			border-radius: 50%;
			width: 6px;
			height: 6px;
			background: $theme-main-color-darken;

			@include tablet {
				display: block;
			}

			@include phone {
				display: none;
			}
		}

		.v-list__item {
			@include tablet {
				display: inline-block;
				vertical-align: top;
				padding: 5px 0;
			}

			@include phone {
				display: block;
				padding: 5px 0 5px 16px;
			}

			&:before {
				@include tablet {
					display: none;
				}

				@include phone {
					display: block;
				}
			}

			&:not(:last-child) {
				&:after {
					@include tablet {
						content: ',';
						display: inline-block;
						vertical-align: top;
					}

					@include phone {
						display: none;
					}
				}
			}
		}
	}

	&__item {
		position: relative;
		padding: 5px 0 5px 16px;
		@include font(14px, null, 17px);

		&:before {
			content: '';
			position: absolute;
			top: 11px;
			left: 0;
			border-radius: 50%;
			width: 6px;
			height: 6px;
			background: $theme-main-color-darken;
		}
	}

	&__link {
		display: block;
		color: inherit;
		transition: color 0.25s;

		@include hover {
			color: $blue;
		}

		span,
		abbr {
			color: $blue;
		}

		abbr {
			text-decoration: none;
		}
	}
}