.v-location {
	background: $section-bg;

	&__header {
		padding-top: 20px;
		padding-bottom: 30px;
		background: $white;
		text-align: center;

		@include phone {
			padding: 25px 0 0;
			background: none;
		}
	}

	&__inner {
		padding-top: 40px;
		padding-bottom: 30px;

		@include tablet {
			padding-top: 30px;
		}

		@include phone {
			padding-top: 15px;
			padding-bottom: 0;
		}
	}

	&__main {
		@include clr;
	}

	&__map {
		float: left;
		padding-right: 30px;
		width: 77%;

		@include tablet {
			padding: 0;
			width: 100%;
		}
	}

	&__map-inner {
		border-radius: 4px;
		height: 500px;
		@include cover;
		box-shadow: $container-shadow;

		@include phone {
			height: 300px;
		}
	}

	&__sidebar {
		float: right;
		width: 23%;

		@include tablet {
			padding: 30px 0 0;
			width: 100%;
		}

		@include phone {
			padding-top: 15px;
		}
	}

	&__items {
		padding-top: 40px;
		text-align: center;

		@include tablet {
			padding-top: 35px;
		}

		@include phone {
			padding-top: 25px;
		}
	}

	&__subtitle {
		margin-bottom: 15px;

		@include phone {
			margin: 0;
		}
	}

	&__description {
		@include phone {
			display: none;
		}
	}
}