.v-map-item {
	position: relative;
	padding: 15px 0 14px 30px;

	&:not(:last-child) {
		&:after {
			content: '';
			position: absolute;
			left: 20px;
			right: 4px;
			bottom: 0;
			border-bottom: 1px solid $lightGray;
		}
	}

	&__icon {
		position: absolute;
		top: 15px;
		left: 0;

		.icon {
			fill: $theme-main-color;
			font-size: 20px;
		}
	}

	&__time {
		padding: 2px 0 10px;
		@include font(14px, null, 17px);
		@include clr;

		span {
			float: left;
		}

		strong {
			float: right;
			font-weight: 700;
		}
	}

	&__info {
		padding-top: 14px;
		@include font(12px, null, 13px);

		@include tablet {
			padding-right: 25px;
		}
	}

	&__meta {
		padding: 10px 10px 0 0;

		@include tablet {
			padding-top: 13px;
		}
	}

	&__info,
	&__meta {
		display: inline-block;
		vertical-align: top;
	}
}