.v-map-type {
	font-size: 0;

	&__label,
	&__radio {
		display: inline-block;
		vertical-align: top;

		&:not(:last-child) {
			margin-right: 12px;

			@include tablet {
				margin-right: 25px;
			}
		}
	}

	&__label {
		padding: 7px 0 4px;
	}

	&__radio {
		cursor: pointer;

		input {
			display: none;

			&:checked ~ .v-map-type__icon {
				background: $theme-main-color;
				box-shadow: $container-shadow;
			}
		}
	}

	&__icon {
		display: block;
		border-radius: 4px;
		width: 28px;
		height: 28px;
		background: #85D9DD;
		@include vertical;
		transition: background 0.25s, box-shadow 0.25s;

		.icon {
			display: inline-block;
			vertical-align: middle;
			fill: $white;
		}

		.icon-front-car {
			font-size: 16px;
		}

		.icon-bus {
			font-size: 18px;
		}

		.icon-walking {
			font-size: 20px;
		}
	}
}