.v-map-control {
	overflow: hidden;
	border-radius: 4px;
	height: 500px;
	background: $white;
	box-shadow: $container-shadow;

	@include tablet {
		height: auto;
	}

	&[data-tabs="route-planner"] {
		@include tablet {
			height: 500px;
		}

		@include phone {
			height: auto;
		}
	}

	&__switches {
		padding: 20px 20px 0;

		@include tablet {
			padding: 15px 15px 0;
		}

		@include phone {
			padding: 15px 10px 0;
		}
	}

	&__info {
		padding: 5px 20px 15px;

		@include tablet {
			padding: 5px 15px 15px;
		}

		@include phone {
			padding: 8px 10px 15px;
		}
	}

	&__type {
		margin-bottom: 20px;
	}

	&__group {
		margin: 0 -10px;

		@include tablet {
			margin: 0;
		}
	}

	&__submit {
		padding-top: 40px;
		text-align: center;

		@include tablet {
			padding-top: 30px;
		}
	}

	&__container {
		height: 423px;

		@include tablet {
			height: 428px;
		}
	}

	&__outer {
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	&__header {
		padding: 20px 20px 15px;
		flex: 0 0 auto;

		@include tablet {
			padding: 25px 15px 10px;
		}
	}

	&__body {
		flex: 1 1 auto;
		overflow: auto;
		padding-left: 10px;
		height: 100%;
		background: rgba($gray, 0.05);
	}
}