.v-map-switches {
	display: table;
	table-layout: fixed;
	border: 1px solid rgba($lightGray, 0.5);
	border-radius: 4px 4px 0 0;
	width: 100%;

	@include phone {
		display: block;
		border: none;
	}

	&__container {
		display: table-row;
		
		@include phone {
			display: block;
		}
	}

	&__item {
		position: relative;
		display: table-cell;
		vertical-align: top;
		padding: 4px 0 4px;
		color: $gray;
		font-size: 0;
		text-align: center;

		@include phone {
			display: block;
			padding: 0;
		}

		&:not(:last-child) {
			border-right: 1px solid rgba($lightGray, 0.5);

			@include phone {
				border: none;
			}
		}

		&.is-active {
			&:before {
				opacity: 1;
			}
		}

		&:before {
			content: '';
			position: absolute;
			left: -1px;
			right: -1px;
			bottom: -1px;
			border-bottom: 2px solid $theme-main-color;
			opacity: 0;
			transition: opacity 0.25s;

			@include phone {
				display: none;
			}
		}

		.icon {
			margin-bottom: -1px;
			fill: $blue;
			font-size: 31px;

			@include phone {
				display: none;
			}
		}

		span {
			display: block;
			@include font(14px, null, 17px);

			@include phone {
				@include font(13px, 700, 16px);
				text-transform: uppercase;
			}
		}
	}
}