.v-map-path {
	font-size: 0;
	text-align: left;

	&__item {
		position: relative;
		display: inline-block;
		vertical-align: top;

		&:not(:last-child) {
			padding-right: 15px;
			margin-right: 10px;
		}

		&:last-child {
			.icon-next {
				display: none;
			}
		}

		.icon {
			display: inline-block;
			vertical-align: top;
			fill: $gray;
		}

		.icon-walking {
			font-size: 19px;
		}

		.icon-bus {
			margin: 1px 0 1px;
			font-size: 17px;
		}

		.icon-next {
			position: absolute;
			top: 50%;
			right: 0;
			margin-top: -5px;
			font-size: 9px;
		}
	}

	&__number {
		display: inline-block;
		vertical-align: top;
		padding: 1px 5px;
		margin-left: 7px;
		border-radius: 4px;
		min-width: 18px;
		color: $white;
		@include font(13px, 700, 16px);

		&_blue {
			background: $lightBlue;
		}

		&_orange {
			background: $orange;
		}
	}
}