.v-nav-submenu {
	position: absolute;
	top: 100%;
	right: -44px;
	margin-top: -2px;
	border: 1px solid $theme-main-color-darken;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.25s, visibility 0.25s;
	@include container;

	@include tablet {
		right: 10px
	}

	@include phone {
		position: relative;
		top: auto;
		right: auto;
		padding-left: 0;
		padding-right: 0;
		margin: 0;
		border: none;
		border-top: 1px solid $theme-main-color;
		border-radius: 0;
		width: 100%;
		opacity: 1;
		visibility: visible;
		background: $white;
		box-shadow: none;
	}
	
	&:before,
	&:after {
		content: '';
		position: absolute;
		right: 68px;
		bottom: 100%;
		pointer-events: none;

		@include tablet {
			right: 10px;
		}

		@include phone {
			display: none;
		}
	}

	&:before {
		@include arr(18, 7, $theme-main-color-darken, t);
	}
	&:after {
		margin-bottom: -1px;
		@include arr(18, 7, $white, t);
	}

	&_hotels {
		padding: 11px 18px 13px 20px;
		width: 335px;
	}

	&_contacts {
		padding: 14px 20px 17px;
		width: 230px;
	}

	&_hotels,
	&_contacts {
		@include phone {
			padding-top: 10px;
			padding-bottom: 10px;
		}
	}
}