.v-nav {
	float: right;
	&.is-phone {
		transition: opacity 0.3s, visibility 0.3s;

		.v-nav__list {
			transition: transform 0.3s;
		}
	}

	@include phone {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		padding-top: 51px;
		padding-bottom: 51px;
		height: calc(100vh + 51px);
		opacity: 0;
		visibility: hidden;
		background: rgba($black, 0.8);
		box-shadow: $container-shadow-phone;
	}

	&.is-open {
		opacity: 1;
		visibility: visible;

		.v-nav__list {
			@include gpu;
		}
	}

	&__list {
		margin-right: -18px;
		font-size: 0;

		@include tablet {
			margin-right: -15px;
		}

		@include phone {
			overflow: auto;
			padding: 0 10px;
			margin-right: 0;
			max-height: 100%;
			background: $white;
			transform: translate3d(0,-100%,0);
		}
	}

	&__item {
		position: relative;
		display: inline-block;
		vertical-align: top;

		@include phone {
			display: block;
		}

		&:not(:last-child) {
			@include phone {
				border-bottom: 1px solid $lightGray;
			}
		}

		&:hover {
			.v-nav__link {
				color: $blue;
			}

			.v-nav-submenu {
				opacity: 1;
				visibility: visible;
			}
		}
	}

	&__link {
		position: relative;
		display: inline-block;
		vertical-align: top;
		padding: 16px 18px;
		color: $gray;
		@include font(14px, 700, 17px);
		text-transform: uppercase;
		transition: color 0.25s;
		
		@include tablet {
			padding-left: 15px;
			padding-right: 15px;
		}

		@include phone {
			display: block;
			padding: 15px 0;
		}

		@include hover {
			color: $blue;
		}

		&.is-active {
			color: $theme-main-color-darken;

			.icon-down {
				color: $gray;
			}
		}
	}
}