.v-pagination {
	font-size: 0;
	text-align: center;

	&__prev,
	&__next,
	&__pages {
		display: inline-block;
		vertical-align: top;
	}

	&__pages {
		padding: 0 16px;
	}

	&__prev span,
	&__next span,
	&__page,
	&__splitter,
	&__splitter:before {
		@include font(14px, null, 17px);

		@include tablet {
			@include font(16px, null, 20px);
		}

		@include phone {
			font-size: 18px;
		}
	}

	&__prev,
	&__next {
		padding: 10px;
		color: $theme-main-color;
		cursor: pointer;
		transition: color 0.25s, background 0.25s;

		@include tablet {
			padding: 0;
			border: 1px solid $theme-main-color;
			border-radius: 4px;
			width: 40px;
			height: 40px;
			@include vertical;
		}

		@include hover {
			color: $blue;
			
			@include tablet {
				color: $white;
				background: $theme-main-color;
			}
		}
		
		&.is-disabled {
			color: rgba($gray, 0.5) !important;
			cursor: not-allowed;

			@include tablet {
				border-color: rgba($gray, 0.5);
				opacity: 1;
				background: none !important;
			}
		}

		.icon {
			fill: currentColor;
			font-size: 9px;

			@include tablet {
				display: inline-block;
				vertical-align: middle;
				font-size: 24px;
			}
		}

		.icon-prev {
			margin-right: 5px;

			@include tablet {
				margin-right: 3px;
			}
		}

		.icon-next {
			margin-left: 5px;

			@include tablet {
				margin-left: 3px;
			}
		}

		span {
			font-weight: 700;

			@include tablet {
				display: none;
			}
		}
	}

	&__prev {
		@include tablet {
			float: left;
		}
	}

	&__next {
		@include tablet {
			float: right;
		}
	}

	&__page,
	&__splitter {
		display: inline-block;
		vertical-align: top;
		padding: 10px 0;
		color: $gray;
	}

	&__splitter {
		margin: 0 -2px;
		cursor: default;

		@include tablet {
			margin: 0;
		}

		&:before {
			content: '/';
			display: none;

			@include tablet {
				display: inline-block;
				vertical-align: top;
			}
		}

		span {
			@include tablet {
				display: none;
			}
		}
	}
	
	&__page {
		padding-left: 4px;
		padding-right: 4px;
		cursor: pointer;
		transition: color 0.25s;

		@include tablet {
			display: none;
			padding-left: 0;
			padding-right: 0;
		}

		&.is-active {
			font-weight: 700;

			@include tablet {
				display: inline-block;
				font-weight: 400;
			}
		}

		@include hover {
			color: $theme-main-color;
		}
	}

	&__last {
		@include tablet {
			display: inline-block;
		}
	}
}