.v-pagination {
	font-size: 0;
	text-align: center;

	li {
		display: inline-block;
		vertical-align: top;

		&.disabled {
			.prev,
			.next {
				color: rgba($gray, 0.5) !important;
				cursor: not-allowed;

				@include tablet {
					border-color: rgba($gray, 0.5);
					opacity: 1;
					background: none !important;
				}
			}
		}

		&:first-child {
			@include tablet {
				float: left;
			}
		}

		&:last-child {
			@include tablet {
				float: right;
			}
		}
	}

	.page-link,
	.current,
	.ellipse,
	.prev span,
	.next span {
		@include font(14px, null, 17px);
	}

	.page-link,
	.current,
	.ellipse {
		display: inline-block;
		vertical-align: top;
		padding: 10px 0;
		color: $gray;
	}

	.page-link,
	.current {
		padding-left: 4px;
		padding-right: 4px;
		transition: color 0.25s;

		@include tablet {
			padding-left: 0;
			padding-right: 0;
		}

		@include hover {
			color: $theme-main-color;
		}
	}

	.page-link {
		@include tablet {
			display: none;
		}
	}

	.ellipse {
		font-size: 0 !important;

		@include tablet {
			display: none;
		}

		&:before {
			content: '. . . . . . . . .';
			display: inline-block;
			vertical-align: top;
			font-size: 14px;
		}
	}

	.active {
		cursor: pointer;
		font-weight: 700;

		@include tablet {
			display: none;
		}
	}

	.prev,
	.next {
		padding: 10px;
		color: $theme-main-color;
		font-size: 0;
		cursor: pointer;
		transition: color 0.25s, background 0.25s;

		@include tablet {
			display: inline-block;
			padding: 0;
			border: 1px solid $theme-main-color;
			border-radius: 4px;
			width: 40px;
			height: 40px;
			@include vertical;
		}

		@include hover {
			color: $blue;
			
			@include tablet {
				color: $white;
				background: $theme-main-color;
			}
		}
		
		&.is-disabled {
			color: rgba($gray, 0.5) !important;
			cursor: not-allowed;

			@include tablet {
				border-color: rgba($gray, 0.5);
				opacity: 1;
				background: none !important;
			}
		}

		span,
		.icon {
			display: inline-block;
			vertical-align: top;
		}

		.icon {
			margin: 5px 0 3px;
			fill: currentColor;
			font-size: 9px;

			@include tablet {
				display: inline-block;
				vertical-align: middle;
				font-size: 24px;
			}
		}

		.icon-prev {
			margin-right: 5px;

			@include tablet {
				margin-right: 3px;
			}
		}

		.icon-next {
			margin-left: 5px;

			@include tablet {
				margin-left: 3px;
			}
		}

		span {
			font-weight: 700;

			@include tablet {
				display: none;
			}
		}
	}

	.prev {
		margin-right: 16px;
	}

	.next {
		margin-left: 16px;
	}

	&-counter {
		display: none;
		font-size: 0;
		text-align: center;

		@include tablet {
			display: block;
		}

		span {
			display: inline-block;
			vertical-align: top;
			padding: 10px 0;
			font-size: 16px;
			line-height: 20px;

			@include phone {
				font-size: 18px;
			}
		}
	}
}