.v-policy {
	padding: 10px 20px 15px;
	border-radius: 4px;
	background: $white;
	box-shadow: $container-shadow;

	@include phone {
		padding: 0 10px;
	}

	&__box {
		padding: 10px 0;

		@include phone {
			padding: 0;
		}

		&:not(:last-child) {
			&:after {
				content: '';
				display: block;
				margin: 15px 10px 0;
				border-top: 1px solid $theme-main-color;

				@include phone {
					margin: 0;
				}
			}
		}
	}
	
	&__header {
		position: relative;
		margin-bottom: 15px;
		font-size: 0;
		text-align: center;

		@include tablet {
			text-align: left;
		}

		@include phone {
			padding: 20px 20px 20px 34px;
			margin: 0;
		}

		.icon {
			&:not(.icon-down) {
				display: inline-block;
				vertical-align: middle;
				margin-right: 10px;
				fill: $blue;

				@include phone {
					position: absolute;
					top: 50%;
					left: 0;
					margin: 0;
					transform: translate3d(0,-50%,0);
				}
			}
		}

		.icon-alarm-clock {
			font-size: 25px;
		}

		.icon-cards,
		.icon-bell-boy {
			font-size: 22px;
		}
	}

	&__title {
		display: inline-block;
		vertical-align: middle;
	}

	&__list {
		@include phone {
			padding-bottom: 7px;
			margin-top: -5px;
		}
	}

	&__item {
		padding-left: 26px;
		@include clr;

		@include phone {
			padding-left: 16px;
		}

		strong {
			float: left;
			width: 40%;
		}

		span {
			float: left;
			width: 60%;
		}

		strong,
		span {
			@include tablet {
				float: none;
				width: auto;
			}
		}
	}

}