.v-popular {
	&__inner {
		padding-top: 40px;
		padding-bottom: 35px;

		@include phone {
			padding-top: 25px;
			padding-bottom: 20px;
		}
	}

	&__title {
		margin-bottom: 25px;
		@include font(14px, 700, 17px);

		@include phone {
			margin-bottom: 10px;
		}
	}

	&__content {
		&.is-open {
			@include tablet {
				max-height: none;
			}
		}

		@include tablet {
			overflow: hidden;
			max-height: 100px;
		}
	}

	&__list {
		font-size: 0;
	}

	&__item {
		display: inline-block;
		vertical-align: top;
		padding: 5px 0;
		width: 25%;
		@include font(12px, null, 15px);

		@include tablet {
			width: 33.33%;
		}

		@include phone {
			width: 100%;
		}

		a {
			color: inherit;
		}
	}

	&__more {
		a {
			position: relative;
			display: none;
			vertical-align: top;
			padding: 10px 15px 5px 0;
			color: $blue;

			@include phone {
				padding-top: 5px;
			}

			&.is-active {
				display: inline-block;
			}

			&.is-open {
				[data-text*="less"] {
					display: inline;
				}

				[data-text*="more"] {
					display: none;
				}

				.icon-down {
					transform: rotate(180deg);
				}
			}

			.icon-down {
				position: absolute;
				right: 0;
				bottom: 9px;
				fill: currentColor;
				font-size: 5px;
				@include gpu;
				transition: transform 0.25s;
			}
		}

		[data-text*="less"] {
			display: none;
		}
	}
}