.v-range {
	&__slider {
		margin: 0 12px;

		&.noUi-state-tap {
			.noUi-connect,
			.noUi-origin {
			  transition: transform 0.3s;
			}
		}

		.noUi-base {
			position: relative;
			height: 24px;
			cursor: pointer;

			&:before {
				content: '';
				position: absolute;
				top: 9px;
				left: -12px;
				right: -12px;
				bottom: 9px;
				border-radius: 4px;
				background: rgba($lightGray, 0.5);
			}
		}

		.noUi-origin {
			position: absolute;
			top: 50%;
			left: 0;
			width: 100%;
		}

		.noUi-connect {
			position: absolute;
			z-index: 1;
			top: 9px;
			left: 0;
			bottom: 9px;
			width: 100%;
			opacity: 0.3;
			background: $theme-main-color;
			will-change: transform;
			transform-origin: 0 0;
		}

		.noUi-handle {
			position: absolute;
			right: 0;
			top: 50%;

			&:before,
			&:after {
				content: '';
				position: absolute;
			}

			&:before {
				top: -12px;
				left: -12px;
				right: -12px;
				bottom: -12px;
				border-radius: 50%;
				background: $theme-main-color;
			}

			&:after {
				top: 50%;
				left: 50%;
				border-left: 2px solid $white;
				border-right: 2px solid $white;
				width: 6px;
				height: 11px;
				transform: translate3d(-50%,-50%,0);
			}
		}
	}

	&__container {
		padding-right: 10px;
	}

	&__limit {
		@include font(12px, 400, 15px);
		@include clr;
	}

	&__min {
		float: left;
	}

	&__max {
		float: right;
	}

	&__values {
		padding-top: 15px;
		margin: 0 -7px 0 -8px;
		font-size: 0;
		@include clr;
	}

	&__value {
		padding: 0 7px 0 8px;
	}

	&__from {
		float: left;
		width: 53%;

		.v-range__label {
			width: 43px;
		}

		.v-range__input {
			width: calc(100% - 43px);
		}
	}

	&__to {
		float: right;
		width: 47%;

		.v-range__label {
			width: 27px;
		}

		.v-range__input {
			width: calc(100% - 27px);
		}
	}

	&__label {
		display: inline-block;
		vertical-align: middle;
		// padding-right: 10px;
		@include font(14px, 400, 17px);
	}

	&__input {
		vertical-align: middle;
		// width: 74px;
		text-align: center;
	}
}