.v-review {
	&__inner {
		padding-top: 40px;
		padding-bottom: 40px;

		@include phone {
			padding-top: 25px;
			padding-bottom: 25px;
		}
	}

	&__title {
		margin-bottom: 40px;
		text-align: center;

		@include tablet {
			margin-bottom: 30px;
		}

		@include phone {
			margin-bottom: 15px;
		}
	}

	&__sidebar {
		float: right;
		width: 23%;

		@include tablet {
			float: none;
			width: 100%;
		}
	}

	&__main {
		float: left;
		padding-right: 30px;
		width: 77%;

		@include tablet {
			float: none;
			padding: 30px 0 0;
			width: 100%;
		}

		@include phone {
			padding-top: 20px;
		}
	}

	&__items {
		margin-bottom: 30px;

		@include phone {
			margin-bottom: 20px;
		}
	}

	&__item {
		&:not(:last-child) {
			margin-bottom: 30px;

			@include tablet {
				margin-bottom: 20px;
			}
		}
	}

	&__pagination {
		margin-bottom: 30px;

		@include phone {
			margin-bottom: 20px;
		}
	}
}