.v-service {
	position: relative;
	padding: 2px 0 0 97px;

	@include phone {
		padding: 0;
	}

	&_wide {
		.v-service__header {
			@include phone {
				border-color: $theme-main-color;
			}
		}

		.v-service__title {
			margin-bottom: 5px;
		}

		.v-service__list {
			@include phone {
				padding-top: 5px;
			}
		}
		
		.v-service__item {
			padding: 10px 0;
			line-height: 13px;

			@include phone {
				padding: 5px 0 5px 16px;
				line-height: 24px;
			}

			&:before {
				top: 14px;
			}
		}
	}

	&:not(.v-service_wide) {

		.v-service__list {
			@supports (column-count: 3) {
				column-count: 3;
				column-gap: 100px;

				@include tablet {
					column-count: 2;
					column-gap: 0;
				}

				@include phone {
					column-count: initial;
				}
			}
		}

		.v-service__item {
			@include IE {
				display: inline-block;
				vertical-align: top;
				width: 33.33%;

				@include tablet {
					width: 50%;
				}

				@include phone {
					display: block;
					width: 100%;
				}
			}
		}
	}

	&__header {
		@include phone {
			position: relative;
			padding: 17px 30px 17px 40px;
			border-bottom: 1px solid #CFDEE5;
			min-height: 50px;
			transition: border-color 0.25s;
		}

		&[data-accordion-btn] {
			&.is-active {
				@include phone {
					border-color: $theme-main-color;
				}
			}
		}
	}

	&__icon {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 5px;
		width: 64px;
		border-right: 1px solid $theme-main-color;

		@include phone {
			bottom: 0;
			border: none;
			width: auto;

			@include vertical;
		}

		.icon {
			display: inline-block;
			vertical-align: top;
			fill: $blue;

			@include phone {
				vertical-align: middle;
			}
		}

		.icon-reception,
		.icon-bar,
		.icon-room-service,
		.icon-hotel {
			font-size: 38px;

			@include phone {
				font-size: 30px;
			}
		}

		.icon-gym {
			font-size: 30px;

			@include phone {
				font-size: 23px;
			}
		}

		.icon-children {
			font-size: 34px;

			@include phone {
				font-size: 27px;
			}
		}
	}

	&__title {
		margin-bottom: 8px;

		@include phone {
			margin: 0;
		}
	}

	&__list {
		font-size: 0;

		&[data-accordion-container] {
			@include phone{
				padding: 10px 0;
				border-bottom: 1px solid #CFDEE5;
			}
		}
	}

	&__item {
		position: relative;
		padding-right: 15px;
		@include font(14px, null, 27px);

		@include phone {
			padding-left: 16px;
		}

		&:before {
			content: '';
			position: absolute;
			top: 11px;
			left: 0;
			display: none;
			border-radius: 50%;
			width: 6px;
			height: 6px;
			background: $theme-main-color-darken;

			@include phone {
				display: block;
			}
		}
	}
}