.v-slider {
	&__inner {
		margin: 0 -15px;
		width: auto;

		@include tablet {
			margin: 0 -10px;
		}

		@include phone {
			overflow: hidden;
		}

		.slick-list {
			@include phone {
				margin-left: -44px;
			}
		}
	}
	

	&__item {
		float: left;
		padding: 30px 15px;
		width: 33.33%;

		@include tablet {
			padding-left: 10px;
			padding-right: 10px;
			width: 50%;
		}

		@include phone {
			padding: 15px 5px 26px;
			width: 276px;
		}
	}

	
	&__prev,
	&__next {
		position: absolute;
		top: 50%;
		margin-top: -20px;
	}

	&__prev {
		left: -62px;

		@include mediaWidth(1400) {
			left: -40px;
		}
	}

	&__next {
		right: -62px;

		@include mediaWidth(1400) {
			right: -40px;
		}
	}

	&__dots {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		margin: -5px 0;
		font-size: 0;
		text-align: center;
	}

	&__dot {
		position: relative;
		display: inline-block;
		vertical-align: top;
		width: 20px;
		height: 20px;
		background: none;
		font-size: 0;

		&.active {
			&:after {
				opacity: 1;
			}
		}

		&:before,
		&:after {
			content: '';
			position: absolute;
			top: 5px;
			left: 5px;
			right: 5px;
			bottom: 5px;
			border: 1px solid $theme-main-color;
			border-radius: 50%;
		}

		&:after {
			opacity: 0;
			background: $theme-main-color;
			transition: opacity 0.25s;
		}
	}
}

.owl-item {
	.v-slider__item {
		width: 100% !important;
	}
}