.v-social {
	font-size: 0;

	&__item {
		display: inline-block;
		vertical-align: top;
		border: 1px solid $gray;
		border-radius: 50%;
		width: 30px;
		height: 30px;
		color: $gray;
		@include vertical;
		transition: color 0.25s, border-color 0.25s;

		@include phone {
			width: 35px;
			height: 35px;
		}

		@include hover {
			border-color: $blue;
			color: $blue;
		}

		&:not(:last-child) {
			margin-right: 15px;
		}

		.icon {
			display: inline-block;
			vertical-align: middle;
			fill: currentColor;
		}

		.icon-facebook,
		.icon-pinterest {
			font-size: 18px;
		}

		.icon-twitter {
			font-size: 14px;
		}

		.icon-google-plus {
			font-size: 17px;
		}
	}
}