.v-stars {
	margin-left: -5px;
	margin-right: -4px;
	font-size: 0;
	white-space: nowrap;

	@include phone {
		margin-left: -2px;
		margin-right: -2px;
	}

	&__item {
		padding: 0 4px 0 5px;
		display: inline-block;
		vertical-align: top;
		fill: currentColor;

		@include phone {
			margin: 0 2px;
		}

		.icon {
			font-size: 15px;

			@include phone {
				font-size: 10px;
			}
		}
	}
}