.v-submenu {
	position: relative;

	&.is-active {
		z-index: 200;
		.v-submenu {
			&__btn {
				.icon-down {
					transform: translate3d(0,-50%,0) rotate(180deg);
				}
			}

			&__list {
				opacity: 1;
				visibility: visible;
				pointer-events: auto;
			}
		}
	}

	&.is-fixed {
		z-index: 200;
		
		.v-submenu__wrap {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
		}

		.v-submenu__container {
			background: $white;
		}
	}

	&__wrap {
		position: relative;
		@include gpu;

		&:before {
			content: '';
			position: absolute;
			top: 20px;
			left: 0;
			right: 0;
			bottom: 0;
			box-shadow: $container-shadow-phone;
		}
	}

	&__container {
		position: relative;
		padding: 0 15px;

		@include phone {
			padding: 0;
		}
	}

	&__inner {
		padding: 27px 0 23px;
		margin: 0 auto;
		max-width: 945px;

		@include phone {
			padding: 0;
		}
	}

	&__list {
		margin: 0 -10px;
		font-size: 0.1px;
		text-align: justify;

		@include phone {
			position: absolute;
			top: 100%;
			left: 0;
			right: 0;
			margin: 0;
			opacity: 0;
			visibility: hidden;
			background: $white;
			pointer-events: none;
			transition: opacity 0.25s, visibility 0.25s;
		}

		&:after {
			content: '';
			display: inline-block;
			width: 100%;
		}
	}

	&__item,
	&__link {
		display: inline-block;
		vertical-align: top;

		@include phone {
			display: block;
		}
	}

	&__item {
		padding: 0 10px;
	}

	&__link {
		position: relative;
		padding-bottom: 7px;
		color: $gray;
		@include font(16px, 700, 19px);
		text-transform: uppercase;
		transition: color 0.25s;

		@include phone {
			padding: 17px 0;
			@include font(13px, null, 16px);
		}

		&:hover, 
		&.is-active {
			&:before {
				opacity: 1;
			}

			@include phone {
				color: $theme-main-color;
			}
		}

		&:before {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			border-bottom: 2px solid $theme-main-color-darken;
			opacity: 0;
			transition: opacity 0.25s;
		}
	}

	&__btn {
		position: relative;
		z-index: 1;
		display: none;
		border: none;
		width: 100%;
		color: inherit;
		background: $white;
		box-shadow: $container-shadow-phone;
		text-align: left;

		@include phone {
			display: block;
		}
	}

	&__value {
		display: block;
		padding: 17px 10px 16px;
		@include font(14px, 700, 17px);
		text-transform: uppercase;
		cursor: pointer;
	}

	.icon-down {
		position: absolute;
		top: 50%;
		right: 10px;
		font-size: 6px;
		fill: currentColor;
		transform: translate3d(0,-50%,0);
		transition: transform .25s;
	}
}