<div class="v-alert">
	<div class="v-alert__icon">
		{{mixins.icon('close')}}
	</div>
	<div class="v-alert__btn">
		<button class="btn btn_secondary btn_large">Try another dates</button>
	</div>
	<div class="v-alert__content">
		<div class="v-alert__title">Sorry, there are no rooms available</div>
		<div class="v-alert__description">
			<p>Unfortunately, for the <strong>28 May - 31 May</strong> this hotel does not have any rooms available. You can find available rooms for this dates at the hotel nearby </p>
		</div>
	</div>
</div>