<div class="v-slider">
	<div class="v-slider__inner owl-carousel js-slider">
		{% for option in [
			{
				img: 'https://placekitten.com/g/330/150',
				lazy: true,
				owlLazy: true
			},
			{
				area: false,
				lazy: true,
				owlLazy: true
			},
			{
				img: 'https://placekitten.com/g/330/150',
				lazy: true,
				owlLazy: true
			},
			{
				img: 'https://placekitten.com/g/330/150',
				lazy: true,
				owlLazy: true
			},
			{
				area: false,
				lazy: true,
				owlLazy: true
			},
			{
				img: 'https://placekitten.com/g/330/150',
				lazy: true,
				owlLazy: true
			},
			{
				img: 'https://placekitten.com/g/330/150',
				lazy: true,
				owlLazy: true
			},
			{
				area: false,
				lazy: true,
				owlLazy: true
			},
			{
				img: 'https://placekitten.com/g/330/150',
				lazy: true,
				owlLazy: true
			}
		] %}
			<div class="v-slider__item">
				{{item.call(option)}}
			</div>
		{% endfor %}
	</div>
</div>