.icon-availability {
  width: 1em;
  height: 1em;
  fill: #5EABDD;
}
.icon-cancellation {
  width: 1em;
  height: 1em;
  fill: #5EABDD;
}
.icon-card {
  width: 1em;
  height: 1em;
  fill: #5EABDD;
}
.icon-chat {
  width: 1.11em;
  height: 1em;
  fill: #5EABDD;
}
.icon-check {
  width: 1.25em;
  height: 1em;
  fill: #FFF;
}
.icon-checked {
  width: 1em;
  height: 1em;
  fill: #5EABDD;
}
.icon-confirm {
  width: 1em;
  height: 1em;
  fill: #5EABDD;
}
.icon-directions {
  width: 1em;
  height: 1em;
  fill: #5EABDD;
}
.icon-down {
  width: 1.83em;
  height: 1em;
  fill: #5B6D7C;
}
.icon-extra {
  width: 1em;
  height: 1em;
  fill: #5EABDD;
}
.icon-facebook {
  width: 0.56em;
  height: 1em;
  fill: #5B6D7C;
}
.icon-google-plus {
  width: 1.06em;
  height: 1em;
  fill: #5B6D7C;
}
.icon-home {
  width: 1.09em;
  height: 1em;
  fill: #5EABDD;
}
.icon-hotel {
  width: 1em;
  height: 1em;
  fill: #5EABDD;
}
.icon-internet {
  width: 1em;
  height: 1em;
  fill: #5EABDD;
}
.icon-key-card {
  width: 0.9em;
  height: 1em;
  fill: #5EABDD;
}
.icon-logo-waves {
  width: 3.08em;
  height: 1em;
  fill: #5B6D7C;
}
.icon-mail {
  width: 1.46em;
  height: 1em;
  fill: #5EABDD;
}
.icon-next {
  width: 0.56em;
  height: 1em;
  fill: #50E3C2;
}
.icon-payment {
  width: 1em;
  height: 1em;
  fill: #5EABDD;
}
.icon-phone {
  width: 1.06em;
  height: 1em;
  fill: #5EABDD;
}
.icon-pinterest {
  width: 0.78em;
  height: 1em;
  fill: #5B6D7C;
}
.icon-planet-earth {
  width: 1em;
  height: 1em;
  fill: #5EABDD;
}
.icon-policies {
  width: 1em;
  height: 1em;
  fill: #5EABDD;
}
.icon-prev {
  width: 0.56em;
  height: 1em;
  fill: #50E3C2;
}
.icon-pricing {
  width: 1em;
  height: 1em;
  fill: #5EABDD;
}
.icon-room-type {
  width: 1em;
  height: 1em;
  fill: #5EABDD;
}
.icon-search {
  width: 1em;
  height: 1em;
  fill: #5EABDD;
}
.icon-speech-bubble {
  width: 1em;
  height: 1em;
  fill: #CFDEE5;
}
.icon-team {
  width: 1em;
  height: 1em;
  fill: #5EABDD;
}
.icon-top-questing {
  width: 1em;
  height: 1em;
  fill: #5EABDD;
}
.icon-twitter {
  width: 1.14em;
  height: 1em;
  fill: #5B6D7C;
}
.icon-wallet {
  width: 1em;
  height: 1em;
  fill: #5EABDD;
}
