.icon-adults {
  width: 0.91em;
  height: 1em;
  fill: #5B6D7C;
}
.icon-aim {
  width: 1em;
  height: 1em;
  fill: #5EABDD;
}
.icon-airplane {
  width: 1em;
  height: 1em;
  fill: #5EABDD;
}
.icon-alarm-clock {
  width: 1em;
  height: 1em;
  fill: #5EABDD;
}
.icon-armchair {
  width: 1.25em;
  height: 1em;
  fill: #5EABDD;
}
.icon-bar {
  width: 1em;
  height: 1em;
  fill: #5EABDD;
}
.icon-bed {
  width: 1.6em;
  height: 1em;
  fill: #5EABDD;
}
.icon-bedside-table {
  width: 0.71em;
  height: 1em;
  fill: #5EABDD;
}
.icon-bell-boy {
  width: 0.77em;
  height: 1em;
  fill: #5EABDD;
}
.icon-breakfast {
  width: 1em;
  height: 1em;
  fill: #5EABDD;
}
.icon-bus {
  width: 0.89em;
  height: 1em;
  fill: #FFF;
}
.icon-calendar {
  width: 1em;
  height: 1em;
  fill: #5B6D7C;
}
.icon-cards {
  width: 1.27em;
  height: 1em;
  fill: #5EABDD;
}
.icon-chat {
  width: 1.11em;
  height: 1em;
  fill: #5EABDD;
}
.icon-check {
  width: 1.25em;
  height: 1em;
  fill: #FFF;
}
.icon-children {
  width: 1.1em;
  height: 1em;
  fill: #5B6D7C;
}
.icon-cinema {
  width: 1em;
  height: 1em;
  fill: #5EABDD;
}
.icon-close-button {
  width: 1em;
  height: 1em;
  fill: #5B6D7C;
}
.icon-close {
  width: 1em;
  height: 1em;
  fill: none;
}
.icon-cocktail {
  width: 1em;
  height: 1em;
  fill: #5EABDD;
}
.icon-coffee-cup {
  width: 1em;
  height: 1em;
  fill: #5B6D7C;
}
.icon-compass {
  width: 0.9em;
  height: 1em;
  fill: #5EABDD;
}
.icon-diamond {
  width: 1.14em;
  height: 1em;
  fill: #5EABDD;
}
.icon-down {
  width: 1.83em;
  height: 1em;
  fill: #5B6D7C;
}
.icon-earth {
  width: 0.87em;
  height: 1em;
  fill: #50E3C2;
}
.icon-facebook {
  width: 0.56em;
  height: 1em;
  fill: #5B6D7C;
}
.icon-filter {
  width: 1.11em;
  height: 1em;
  fill: #5EABDD;
}
.icon-flight {
  width: 1em;
  height: 1em;
  fill: #5EABDD;
}
.icon-front-car {
  width: 1.13em;
  height: 1em;
  fill: #FFF;
}
.icon-google-plus {
  width: 1.06em;
  height: 1em;
  fill: #5B6D7C;
}
.icon-gym {
  width: 1.27em;
  height: 1em;
  fill: #5EABDD;
}
.icon-hotel {
  width: 1em;
  height: 1em;
  fill: #5EABDD;
}
.icon-items {
  width: 1em;
  height: 1em;
  fill: #50E3C2;
}
.icon-like-empty {
  width: 1.15em;
  height: 1em;
  fill: #5EABDD;
}
.icon-like-full {
  width: 1.15em;
  height: 1em;
  fill: initial;
}
.icon-list {
  width: 1em;
  height: 1em;
  fill: #5EABDD;
}
.icon-livingroom {
  width: 1.33em;
  height: 1em;
  fill: #5EABDD;
}
.icon-logo-waves {
  width: 3.08em;
  height: 1em;
  fill: #5B6D7C;
}
.icon-mail {
  width: 1.46em;
  height: 1em;
  fill: #5EABDD;
}
.icon-map {
  width: 1em;
  height: 1em;
  fill: #5EABDD;
}
.icon-marker {
  width: 0.75em;
  height: 1em;
  fill: #5B6D7C;
}
.icon-museum {
  width: 0.97em;
  height: 1em;
  fill: #5EABDD;
}
.icon-next {
  width: 0.56em;
  height: 1em;
  fill: #50E3C2;
}
.icon-phone {
  width: 1.06em;
  height: 1em;
  fill: #5EABDD;
}
.icon-photo-camera {
  width: 1.23em;
  height: 1em;
  fill: #5B6D7C;
}
.icon-picture {
  width: 1em;
  height: 1em;
  fill: #5B6D7C;
}
.icon-pinterest {
  width: 0.78em;
  height: 1em;
  fill: #5B6D7C;
}
.icon-prev {
  width: 0.56em;
  height: 1em;
  fill: #50E3C2;
}
.icon-puzzle {
  width: 1em;
  height: 1em;
  fill: #5EABDD;
}
.icon-reception {
  width: 1em;
  height: 1em;
  fill: #5EABDD;
}
.icon-room-service {
  width: 1em;
  height: 1em;
  fill: #5EABDD;
}
.icon-search {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.icon-sort-ascending {
  width: 1.06em;
  height: 1em;
  fill: #5EABDD;
}
.icon-sort-descending {
  width: 1.06em;
  height: 1em;
  fill: #FFF;
}
.icon-sort {
  width: 1em;
  height: 1em;
  fill: #5B6D7C;
}
.icon-speech-bubble {
  width: 1em;
  height: 1em;
  fill: #CFDEE5;
}
.icon-spinner-circle {
  width: 1.04em;
  height: 1em;
  fill: #50E3C2;
}
.icon-star {
  width: 1em;
  height: 1em;
  fill: #5B6D7C;
}
.icon-success {
  width: 1em;
  height: 1em;
  fill: #50E3C2;
}
.icon-sunset {
  width: 1.2em;
  height: 1em;
  fill: #5EABDD;
}
.icon-toiletries {
  width: 0.8em;
  height: 1em;
  fill: #5EABDD;
}
.icon-train {
  width: 0.83em;
  height: 1em;
  fill: #5EABDD;
}
.icon-tree {
  width: 1.03em;
  height: 1em;
  fill: #5EABDD;
}
.icon-tv {
  width: 1.04em;
  height: 1em;
  fill: #5B6D7C;
}
.icon-twitter {
  width: 1.14em;
  height: 1em;
  fill: #5B6D7C;
}
.icon-vegetables {
  width: 1.2em;
  height: 1em;
  fill: #5EABDD;
}
.icon-walking {
  width: 0.5em;
  height: 1em;
  fill: #FFF;
}
.icon-wifi {
  width: 1.26em;
  height: 1em;
  fill: #5EABDD;
}
