.icon-adults {
  width: 0.91em;
  height: 1em;
  fill: #5B6D7C;
}
.icon-building {
  width: 1em;
  height: 1em;
  fill: #5EABDD;
}
.icon-calendar {
  width: 1em;
  height: 1em;
  fill: #5B6D7C;
}
.icon-chandelier {
  width: 1em;
  height: 1em;
  fill: #5EABDD;
}
.icon-chat {
  width: 1.11em;
  height: 1em;
  fill: #5EABDD;
}
.icon-check {
  width: 1.25em;
  height: 1em;
  fill: #FFF;
}
.icon-children {
  width: 1.1em;
  height: 1em;
  fill: #5B6D7C;
}
.icon-cities {
  width: 1em;
  height: 1em;
  fill: #5EABDD;
}
.icon-close-button {
  width: 1em;
  height: 1em;
  fill: #5B6D7C;
}
.icon-clover {
  width: 1.04em;
  height: 1em;
  fill: #5EABDD;
}
.icon-croissant {
  width: 1em;
  height: 1em;
  fill: #5EABDD;
}
.icon-donation {
  width: 1em;
  height: 1em;
  fill: #5EABDD;
}
.icon-down {
  width: 1.83em;
  height: 1em;
  fill: #5B6D7C;
}
.icon-earth {
  width: 0.87em;
  height: 1em;
  fill: #50E3C2;
}
.icon-facebook {
  width: 0.56em;
  height: 1em;
  fill: #5B6D7C;
}
.icon-golf {
  width: 0.71em;
  height: 1em;
  fill: #5EABDD;
}
.icon-google-plus {
  width: 1.06em;
  height: 1em;
  fill: #5B6D7C;
}
.icon-home {
  width: 1.09em;
  height: 1em;
  fill: #5EABDD;
}
.icon-hotel {
  width: 1.09em;
  height: 1em;
  fill: #5EABDD;
}
.icon-hug {
  width: 1.4em;
  height: 1em;
  fill: #5EABDD;
}
.icon-light-bulb {
  width: 1em;
  height: 1em;
  fill: #5EABDD;
}
.icon-location {
  width: 1em;
  height: 1em;
  fill: #5EABDD;
}
.icon-logo-waves {
  width: 3.08em;
  height: 1em;
  fill: #5B6D7C;
}
.icon-mail {
  width: 1.46em;
  height: 1em;
  fill: #5EABDD;
}
.icon-marker {
  width: 0.75em;
  height: 1em;
  fill: #5B6D7C;
}
.icon-modern-chair {
  width: 0.71em;
  height: 1em;
  fill: #5EABDD;
}
.icon-next {
  width: 0.56em;
  height: 1em;
  fill: #50E3C2;
}
.icon-palm {
  width: 0.96em;
  height: 1em;
  fill: #5EABDD;
}
.icon-phone {
  width: 1.06em;
  height: 1em;
  fill: #5EABDD;
}
.icon-pinterest {
  width: 0.78em;
  height: 1em;
  fill: #5B6D7C;
}
.icon-prev {
  width: 0.56em;
  height: 1em;
  fill: #50E3C2;
}
.icon-security {
  width: 1em;
  height: 1em;
  fill: #5EABDD;
}
.icon-spinner-circle {
  width: 1.04em;
  height: 1em;
  fill: #50E3C2;
}
.icon-star {
  width: 1em;
  height: 1em;
  fill: #5B6D7C;
}
.icon-twitter {
  width: 1.14em;
  height: 1em;
  fill: #5B6D7C;
}
